%h2 Daily Plan Details
%p
  A <strong>daily plan</strong> allows <strong>attendees</strong> to
  pick a set of dates, and charges a daily rate.

%p= button_to "Download CSV", rpt_daily_plan_details_report_path + '.csv', :method => "get"
