<h2>Contact Us</h2>

<table class="semantic fullwidth">
	<thead>
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
	
		<% @user_jobs.each do |uj| %>
			<tr>
				<td><%= uj.jobname %></td>
				<td></td>
				<td><%= uj.email %></td>
				<td></td>
			</tr>
		<% end %>
		
	</tbody>
</table>

<dl>
	<dt>TC</dt><dd>Tournament Coordinator</dd>
	<dt>TD</dt><dd>Tournament Director</dd>
</dl>
