%h2 Unverified Users
%p
  The following users created accounts, but never confirmed their email
  addresses.
  
%p
  Please exercise care: only confirm users who you're sure have the
  correct email address associated with their account. We don't want to spam any
  accounts that were entered my mistake.

%ul.unverified-users
  - @users.each do |user|
    %li
      = link_to user.email, confirmation_path(user) + "?confirmation_token=#{user.confirmation_token}"

:javascript
  const unverifiedUsers = document.querySelector('.unverified-users');
  unverifiedUsers.addEventListener('click', event => {
    if (event.target.tagName === 'A') {
      if (!confirm(`Manually confirm unverified user ${event.target.innerHTML}?`)) {
        event.preventDefault();
      }
    }
  })
		