---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC68c4bca1ff6e21bbea7e22e61a6e5f36/Messages.json
    body:
      encoding: UTF-8
      string: Body=this+is+a+test+message&From=12028834668&To=1231231234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM2OGM0YmNhMWZmNmUyMWJiZWE3ZTIyZTYxYTZlNWYzNjoyMWI3NWZhNGQ2YTI0MDFjMGYyNTExZGQ4NjQxZWVlMw==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.059'
      Twilio-Request-Id:
      - RQ1fcf55318ae84e349e24267132267f5c
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 12028834668 is not
        a valid phone number, shortcode, or alphanumeric sender ID.", "more_info":
        "https://www.twilio.com/docs/errors/21212", "status": 400}'
  recorded_at: Fri, 13 Jul 2018 17:34:47 GMT
recorded_with: VCR 4.0.0
