.DS_Store
.bundle
.env
.sass-cache
.notes
db/*.sqlite3
config/usgc_env.rb
coverage.data
coverage
*.swp
*.swo
.idea
spec/examples.txt
public/assets
.vscode/settings.json

# Ignore all logfiles and tempfiles.
log/*
tmp/*
# Preserve directory/files needed for puma
# @see https://www.alanvardy.com/post/puma-server-not-loading
tmp/pids/*
!tmp/pids
!tmp/pids/.keep
