!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to the #{@user.year} U.S. Go Congress
    %p
      Thank you for creating your account on the
      = link_to "U.S. Go Congress website.", year_url(@user.year)
      We look forward to seeing you this summer!  You may log
      into your account at any time to change your registration
      information, update your account, make a payment, or add
      an attendee.
    %p
      If you have any questions, comments, or suggestions, feel free to
      = link_to "contact us", contacts_url(@user.year)
      at any time.

    - if @year.twitter_url.present?
      %p
        You can also get the latest
        = link_to "Congress news on Twitter", @year.twitter_url
