!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to the #{CONGRESS_YEAR} US Go Congress
    %p 
      Thank you for creating your account on the US Go Congress website, we look
      forward to seeing you this summer!  You may log into your account at
      any time to change your registration information, update your account, make
      a payment, or add an attendee to your account.
    %p
      If you have any questions, comments, or suggestions, feel free to
      %a{:href => 'http://www.gocongress.org/contact'}
        contact us
      at any time.
