Welcome to the #{CONGRESS_YEAR} U.S. Go Congress

Thank you for creating your account on the U.S. Go Congress website, we look
forward to seeing you this summer!  You may log into your account at
any time to change your registration information, update your account, make
a payment, or add an attendee to your account.

If you have any questions, comments, or suggestions, feel free to contact
us at any time.

= year_url(@user.year)

- if @year.twitter_url.present?
  Get the latest Congress news on Twitter:

  = @year.twitter_url
