.cb-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.cb-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.cb-icon-exclam {
  width: 1.0751953125em;
}

.cb-icon-numbersign {
  width: 1.1201171875em;
}

.cb-icon-dollar {
  width: 1.1123046875em;
}

.cb-icon-percent {
  width: 1.0869140625em;
}

.cb-icon-ampersand {
  width: 1.1083984375em;
}

.cb-icon-parenleft {
  width: 1.099609375em;
}

.cb-icon-parenright {
  width: 1.0712890625em;
}

.cb-icon-asterisk {
  width: 1.15234375em;
}

.cb-icon-plus {
  width: 0.8447265625em;
}

.cb-icon-zero {
  width: 0.943359375em;
}

.cb-icon-one {
  width: 1.48046875em;
}

.cb-icon-two {
  width: 0.37890625em;
}

.cb-icon-three {
  width: 0.9443359375em;
}

.cb-icon-four {
  width: 0.93359375em;
}

.cb-icon-five {
  width: 0.4990234375em;
}

.cb-icon-six {
  width: 2.615234375em;
}

.cb-icon-seven {
  width: 4.5234375em;
}

.cb-icon-eight {
  width: 1.748046875em;
}

.cb-icon-nine {
  width: 1.34765625em;
}

.cb-icon-colon {
  width: 2.3935546875em;
}

.cb-icon-semicolon {
  width: 2.0810546875em;
}

.cb-icon-at {
  width: 1.0830078125em;
}

.cb-icon-A {
  width: 1.158203125em;
}

.cb-icon-B {
  width: 1.041015625em;
}

.cb-icon-C {
  width: 1.1796875em;
}

.cb-icon-D {
  width: 0.9189453125em;
}

.cb-icon-E {
  width: 0.7138671875em;
}

.cb-icon-F {
  width: 0.8017578125em;
}

.cb-icon-G {
  width: 0.75390625em;
}

.cb-icon-H {
  width: 1.2802734375em;
}

.cb-icon-I {
  width: 1.5869140625em;
}

.cb-icon-J {
  width: 1.50390625em;
}

.cb-icon-K {
  width: 1.5087890625em;
}

.cb-icon-L {
  width: 1.513671875em;
}

.cb-icon-M {
  width: 0.79296875em;
}

.cb-icon-N {
  width: 1.6611328125em;
}

.cb-icon-O {
  width: 1.0419921875em;
}

.cb-icon-P {
  width: 1.0380859375em;
}

.cb-icon-S {
  width: 1.0947265625em;
}

.cb-icon-T {
  width: 1.126953125em;
}

.cb-icon-U {
  width: 1.12109375em;
}

.cb-icon-V {
  width: 1.3134765625em;
}

.cb-icon-W {
  width: 1.306640625em;
}

.cb-icon-X {
  width: 3.6376953125em;
}

.cb-icon-Y {
  width: 0.7958984375em;
}

.cb-icon-Z {
  width: 1.3662109375em;
}

.cb-icon-bracketleft {
  width: 1.3662109375em;
}

.cb-icon-asciicircum {
  width: 1.103515625em;
}

.cb-icon-underscore {
  width: 0.8505859375em;
}

.cb-icon-a {
  width: 0.857421875em;
}

.cb-icon-b {
  width: 1.2138671875em;
}

.cb-icon-c {
  width: 1.2138671875em;
}

.cb-icon-d {
  width: 1.5009765625em;
}

.cb-icon-e {
  width: 1.5009765625em;
}

.cb-icon-f {
  width: 1.0380859375em;
}

.cb-icon-g {
  width: 1.41796875em;
}

.cb-icon-h {
  width: 1.2451171875em;
}

.cb-icon-i {
  width: 1.087890625em;
}

.cb-icon-j {
  width: 1.0068359375em;
}

.cb-icon-k {
  width: 1.9345703125em;
}

.cb-icon-l {
  width: 1.15625em;
}

.cb-icon-m {
  width: 1.1904296875em;
}

.cb-icon-n {
  width: 0.8271484375em;
}

.cb-icon-o {
  width: 1.1171875em;
}

.cb-icon-p {
  width: 1.337890625em;
}

.cb-icon-q {
  width: 1.10546875em;
}

.cb-icon-s {
  width: 1.56640625em;
}

.cb-icon-t {
  width: 0.951171875em;
}

.cb-icon-u {
  width: 1.3408203125em;
}

.cb-icon-v {
  width: 0.98828125em;
}

.cb-icon-w {
  width: 1.08203125em;
}

.cb-icon-x {
  width: 1.083984375em;
}

.cb-icon-y {
  width: 0.796875em;
}

.cb-icon-z {
  width: 0.923828125em;
}
