/* Basic element styling (no classes yet) */
* { margin: 0px; padding: 0px; }
body { background-color: white; font-family: Times, serif; }
h1 { font-family: Helvetica, sans-serif; font-size: 32px; }
h2 { font-family: Helvetica, sans-serif; }
h3 { font-family: Helvetica, sans-serif; }
h4 { font-family: Helvetica, sans-serif; }
th { font-family: Helvetica, sans-serif; }
td { font-family: Times, serif; }
p { font-family: Times, serif; font-size: 16px; }
span { font-family: Times, serif; font-size: 16px; }
div { font-family: Times, serif; font-size: 16px; }
hr { margin: 1em 0em 1em 0em; }
blockquote { 
	font-family: Times, serif; 
	font-size: 14px; 
	font-style: oblique; 
	padding: 0px 10px; 
}
fieldset {
  border: none;
  padding: 0.2em;
  margin: 0em;
}
legend { 
	font-family: Helvetica, sans-serif; 
	font-size: 18px; 
	font-weight: bold;
	padding: 0.5em 0em;
}

/* Truly basic classes that could apply anywhere -Jared 12/30/10 */
.fullwidth { width: 100%; }
.smalltext { font-size: 12px; }
th { text-align: left; }
table .numeric { text-align: right; }

/* Two column layout */
.left-column { display: inline-block; width: 40%; vertical-align: top; }
.right-column { display: inline-block; width: 40%; vertical-align: top; }
h2.first-in-column { margin-top: 12px; margin-bottom: 4px; }

/* Remove the default border on anchored images */
/* I hope this works as well as the img.border attribute -Jared 11/29/10 */
a img { border: none; }

/* Lightweight table: Tighter, less colors, borders, etc. -Jared 1/2/11 */
table.lightweight { border-spacing: 0; border-collapse: collapse; }
table.lightweight td, table.lightweight th { border: 0px solid #666; }
table.lightweight td { padding: 0em 0.5em; }
table.lightweight th { padding: 0em 0.5em 0em 0em; }

/* Semantic table: The basic table meant for data, not for layout */
table.semantic { border-spacing: 0; border-collapse: collapse; margin: 0.5em 0em; }
table.semantic thead th { vertical-align: bottom; }
table.semantic td, table.semantic th { border: 1px solid #666; padding: 0.25em; }
table.semantic td { background-color: #FFDAA3; }
table.semantic th { background-color: #FF9B05; }
table.semantic tr.lesser-header th { background-color: #FFC369; font-weight: normal; }
table.semantic tr.total th { background-color: #FFDAA3; text-align: right; }

/* Table options eg. zebra striping */
table.zebra tr:nth-child(even) td { background-color: #FFECD1; }
tr.date-header th { text-align: center; }

/* Semantic table: Row emphasis */
/* Emphasis is more important than zebra striping, so we must define it after zebra -Jared 1/13/11 */
table.semantic tr.emphasized td { background-color: yellow; }
table.semantic tr.understated td { color: #666; }
table.semantic tr.disabled td { background-color: #DDD; color: #666; }

/* Definition lists */
dt { clear: left; float: left; padding-right: 1em; font-weight: bold; }
dd { float: left; }

/* Header */
#header-container { background-color: #FF9B05; }
#header { margin: 0 auto; padding: 8px 0px 5px 0px; width: 900px; }

#usgc-title-container { float: left; }
#usgc-title-container h1 { 
	font-family: Helvetica, sans-serif; 
	font-size: 32px; 
	line-height: 33px; 
}
#usgc-title-container a { color: black; text-decoration: none; }

#usgc-when-where-container { 
	float: right; 
	font-family: Helvetica, sans-serif; 
	font-size: 22px; 
	line-height: 23px;
	margin-top: 10px;
	text-align: right;
}

/* Nav */
.nav-container { background-color: #0071BC; }
.nav { margin: 0 auto; width: 902px; }
.nav ul { height: 40px; }
.nav li { 
	height: 33px;
	border-left: 1px solid #AAA;
	display: block;
	float: left;
	font-family: Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	line-height: 16px;
	text-align: center;
	padding: 5px 0px 2px 0px;
	list-style: none;
}
.nav li:hover { background-color: #29ABE2; }
.nav li.last-child { border-right: 1px solid #AAA; }
.nav li a { color: white; text-decoration: none; }

/* Nav item widths are hardcoded because I couldn't figure out how to evenly
distribute and pad them.  I'm only human. -Jared 7/27/10 */
.nav li#nav-events { width: 95px; }
.nav li#nav-pros { width: 115px; }
.nav li#nav-tournaments { width: 110px; }
.nav li#nav-rooms { width: 90px; }
.nav li#nav-transportation { width: 85px; }
.nav li#nav-volunteer { width: 91px; }
.nav li#nav-contact { width: 75px; }
.nav li#nav-who { width: 80px; }
.nav li#nav-registration { position:relative; width: 80px; }
.nav li#nav-login { width: 70px; }
.nav li#nav-registration a { color: #FF2; }
.nav li#nav-registration img.preregister-star { position: absolute; top: -10px; left: 3px; }

/* Admin menu is slightly different -Jared 1/12/11 */
.nav-container-admin { background-color: #64AEDE; }
.nav-container-admin ul { height: 25px; }
.nav li#nav-admin-title { width: 120px; }
.nav li#nav-admin-all-users { width: 80px; }
.nav li#nav-admin-placeholder { width: 698px; }
.nav-container-admin .nav li { height: 18px; }

/* Main content area */
#content { 
	border-left: 1px solid #AAA; 
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	margin: 0 auto;
	padding: 10px;
	width: 880px;
}

/* The homepage content area is the same, but it has no padding (mostly) */
.homepage #content { 
	padding: 0px 0px 20px 0px;
	width: 900px;
	}
.homepage #content p {  padding: 0.5em; }
.homepage #content h3 {  padding: 0.5em; }

/* Basic styling for elements in the main content area */
#content p, #content dl { padding: 0.5em 0em 0.5em 0em; }
#content h1, #content h2, #content h3 { padding: 0.5em 0em; }
#content ul { margin-left: 20px; padding: 0.5em 0em 0.5em 0em; }
#content li { margin-left: 10px; }
#breadcrumbs { padding: 0.5em 0em; }

/* Curving the text around the logo */
#content .curvy-text-container { padding-top: 10px; position: relative; }
#content .curvy-text-container #usgc-logo { position: absolute; left: -140px; top: 10px; }
#content .curvy-text-container .curvy-spacer { clear: left; float: left; }
#content .curvy-text-container p { padding: 0.5em; text-align: justify; }
#content .event-title { font-weight: bold; }

/* Drawing extra attention to various things */
.rails-flash-alert {
	background-color: yellow;
	}
.rails-flash-notice {
	background-color: lightgreen;
	}

#content .notice { 
	background-image: url("../images/icons/attention.png");
	background-repeat: no-repeat;
	background-position: 5px;
	border: 1px dashed #FF9B05; 
	margin: 0.5em 0em;
	min-height: 30px;
	padding-left: 52px;
	}

div.download-pdf {
	background-image: url("../images/icons/pdf.gif");
	background-repeat: no-repeat;
	background-position: 5px;
	min-height: 40px;
	padding-left: 45px;
	}
div.download-pdf a {
	line-height: 40px;
	}	

/* Error box */
.error { 
	border: 3px solid red; 
	color: red; 
	font-family: Helvetica, sans-serif; 
	font-size: 18px;
	padding: 10px; 
	text-align: center;
}

/* Image gallery */
#gallery-container { float:right; padding-left: 20px; }
#gallery { width: 480px; height: 360px; }
.galleria-stage { bottom:0px; left:0px; right:0px; top:0px; }
.galleria-info { width: 480px; } /* should be same width as #gallery */

/* Styles for the legacy Who's Coming table.  Don't delete just yet. */
table.who { width: 90%; margin: 0 auto; }
table.who thead th { text-align: left; }

/* Forms */
div.inputform { margin: 1em; }
div.inputform table tbody td { padding-bottom: 0.25em; }
div.inputform table tbody th { text-align: left; padding-right: 1em; vertical-align: top; }
.vertical-form-instructions { clear: right; float:right; margin: 1em; width: 300px; }

/* Railsy forms -Jared 12/15/10 */
/* Note the fixed width labels */
div.field { display: block; }
div.field_with_errors { background-color:white; display: inline; padding: 0; }
div.field_with_errors input { background-color:white; }
div.field label, div.field_with_errors label { display:inline-block; text-align:left; width: 150px }
fieldset .aligned-with-input { margin-left: 155px; }

/* Some forms need wider labels -Jared 1/8/11 */
fieldset.wordy-questions label { width: 350px; }
fieldset.wordy-questions .aligned-with-input { margin-left: 355px; }

/* Footer */
#footer { 
	margin: 0 auto;
	padding-top: 5px;
	width: 900px; 
}
#site-credit { 
	color: #333;
	float: left;
	font-size: 10px;
	text-align: left;
}
#site-credit a { color: #333; }
#sponsors {
	float: right;
}
