%h2= user_account_title @user, 'Payment History'

%p Updated every few days, please be patient.

= render :partial => 'shared/ledger', :locals => {:user => @user, :show_detail_links => true}

- if can? :manage, @user
  %p= link_to "Return to #{@user.full_name_possessive} Account", user_path(@user)
