<h1>Register for the <%= CONGRESS_YEAR %> US Go Congress!</h1>

<p>
	<strong>Registering more than one person?</strong><br />
	No problem, we plan to allow one user to register multiple people.  So, please
	don't create users for each of your kids.
</p>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
