%div{:class => "statement-of-welcome"}

  %h3 Statement of Welcome

  %p
    All are welcome at the US Go Congress! We welcome all attendees regardless of
    differences, including race, gender expression or identity, sexual
    orientation, immigration status, ability, religion, or any other personal
    identity or belief. Our shared interests, differing backgrounds, and mutual
    respect strengthen our community. We ask that attendees abide by the

    %a{:href => "http://www.usgo.org/aga-code-conduct" } AGA Code of Conduct

    and help us to create a welcoming and safe environment for everyone who comes
    to share their passion for go at the Go Congress.
