%fieldset
  .field
    = f.label :emergency_name, 'Emergency Contact Name'
    = f.text_field :emergency_name
  .field
    = f.label :emergency_phone, 'Emergency Contact Phone'
    = f.telephone_field :emergency_phone, value: f.object.emergency_phone, data: { intl_phone: "true"}
