%fieldset
  = render :partial => 'shared/field',
  :locals => { :field => f, :attribute => :emergency_name, :required => true }
  
  = render :layout => 'shared/field',
  :locals => { :field => f, :attribute => :emergency_phone, :required => true } do
    = f.telephone_field :emergency_phone, value: f.object.emergency_phone, data: { intl_phone: "true"} 
