%h3 Requests
%fieldset
  - if @year.in_person?
    .field.flex
      %div.field-key
        = f.label :roomate_request
      %div.field-value
        = f.text_field :roomate_request
  .field.flex
    %div.field-key
      = f.label :special_request, trl_attr(:attendee, :special_request)
    %div.field-value
      = f.text_area :special_request
      .field-help-text
        Are there any special requests we should know about?


