/ Parameters:
/ obj - a symbol naming an activerecord model
/ atr - a symbol naming an attribute of said model
/ rows - number of rows for textarea

- rows ||= 5

%label{ :for => obj.to_s + '_' + atr.to_s}
  = atr.to_s.titleize
  %br
  %span.smalltext
    You can format the text (bold, etc.) with
    %a{ :href => 'https://daringfireball.net/projects/markdown/syntax', :target => '_blank' } Markdown.

= text_area obj, atr, { maxlength: defined?(maximum_length) ? maximum_length : "", :class => 'wide', :rows => rows }
