%table.understated-head.mini-calendar.borderless
  %tbody
    %tr
      - AttendeePlanDate.valid_range(@year).each_with_index do |d,i|
        %td.nowrap
          - format = (i == 0) ? '%a %-m/%-e' : '%-e'
          = d.strftime(format)
          %br
          - checked = selection.dates.include?(d)
          - cbx_name = "plans[#{plan.id}][dates][]"
          = check_box_tag cbx_name, d.strftime('%Y-%m-%d'), checked
