%table.understated-head.mini-calendar.borderless
  %tbody
    %tr
      - AttendeePlanDate.valid_range(@year).each_with_index do |d,i|
        %td.nowrap
          - format = (i == 0) ? '%a %-m/%-e' : '%-e'
          = d.strftime(format)
          %br
          = check_box_tag "plans[#{plan.id}][dates][]", d.strftime('%Y-%m-%d'), false
