%h3 Administration*
%fieldset
  .field
    = f.label :minor_agreement_received
    = f.check_box :minor_agreement_received
  .field
    = f.label :comment
    = f.text_area :comment, {:class => "inline", :rows => 3 }

- content_for :footnote do
  %p.smalltext * Only admins see this section.
