%h3
  - if @year.year == 2019
    2019 US Go Congress Mailing List
  - else
    Mailing List
%p
  Be among the first to know when registration is open! For the latest updates
  and announcements, please
  - if @year.year == 2019
    = link_to "subscribe", "http://eepurl.com/dCcejX"
  - else
    = link_to "subscribe", "http://eepurl.com/bC8CBX"
  to the U.S. Go Congress mailing list.
%p
  - if @year.year == 2019
    = link_to "Subscribe", "http://eepurl.com/dCcejX"
  - else
    = link_to "Subscribe", "http://eepurl.com/bC8CBX"
