%h3
  - if @year.year == 2019
    2019 US Go Congress Mailing List
  - else
    Mailing List
%p
  Be among the first to know when registration is open! 
  = link_to "Subscribe", @year.mailing_list_link
  to the U.S. Go Congress mailing list for the latest updates and announcements.
