%h3
  Mailing List
%p
  Be among the first to know when registration is open! For the latest updates
  and announcements, please
  = link_to "subscribe", "http://eepurl.com/bC8CBX"
  to the US Go Congress mailing list.
