- content_for :before_footer do
  .content.past-years
    %p
      - if @year.year == @years.last
        Previous
      - else
        Other
      Years: &nbsp;
      = link_to 2006, "http://www.trianglegoclub.org/gocongress06"
      // 2007 - Was on old.usgo.org, no longer exists
      // 2008 - Not sure, we never had a link to it?
      // 2009-10 - Was on old.usgo.org, no longer exists
      - @years.each do |y|
        - if y != @year.year
          = link_to y, "/#{y}"
