/ Slideshow. Without JS, it's just a list of pictures, breaking the
/ layout.  So, we only display it if JS is on - Jared 7/27/10
- unless @slides.empty?
  #gallery-column
    #gallery-container{:style => "display: none;"}
      #gallery
        - 1.upto(@slides.length) do |i|
          = slideshow_image_tag(i)
