%div{:style => "text-align:center"}
  %h2 Illegal Move
  %p
    = @deny_message
    %br
    If you think this is a mistake, we want to know!  Please
    = link_to 'contact us', contact_path
    and we will correct it.
  = image_tag "illegal_move.gif"
