<!-- Slideshow.  Only displayed if JS is on - Jared 7/27/10 -->	
<div id="gallery-container" style="display: none;">
	<div id="gallery">
		<% 1.upto(9) do |i| %>
			
			<!-- The img title ends up in a div.galleria-info-title
			The img alt ends up in a div.galleria-info-description
			Leave the alt empty -Jared 12/20/10 -->
			<%= image_tag "slideshow/0" + i.to_s + ".jpg", :title=>@arSlideTitles[i-1], :alt=>"" %>
			
		<% end %>
	</div>
</div>

<div class="curvy-text-container">
	<%= image_tag "logo/gc2011-logo-300.png", :id => 'usgc-logo' %>

	<div class="curvy-spacer" style="width: 85px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 115px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 135px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 150px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 160px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 165px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 165px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 165px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 165px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 165px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 160px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 150px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 135px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 120px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 105px;">&nbsp;</div>
	<div class="curvy-spacer" style="width: 60px;">&nbsp;</div>
	
	<p>The US Go Congress is the largest Go tournament in the United States. It
	happens once a year and spans one week. Events include:</p>
	<p>
		<span class="event-title">
			<a href="frontend/tournament_info.php#uso">US Open</a>
		</span> 
		- the largest annual Go tournament in the US
	</p>
	<p>
		<span class="event-title">
			<a href="frontend/tournament_info.php#naim">North American Ing Masters</a>
		</span>
		- 32 of the strongest amateur and professional players in North America
	</p>
	<p>
		<span class="event-title">
			<a href="frontend/tournament_info.php#redmond">The Redmond Cup</a>
		</span>
		- selects for World Youth Go Championship
	</p>
	<p>
		<a href="frontend/pros.php">Pro lectures, simuls</a>
	</p>
	<p>Vendor area </p>
	
	<div style="clear:left;"></div>
</div>

<p>
	<a href="frontend/faq.php">Frequently Asked Questions</a><br />
	<a href="http://www.usgo.org/congresses/2010">2010 Congress</a>
</p>

