%h2 Pricing

%ul
  %li= link_to "Discounts", discounts_path
  %li= link_to "Plan Categories", plan_categories_path
  %li
    = link_to "Plans", plans_path
    \- Room and Board Plans, Registration Plans, Extras
