%h2 Transportation

%ul 
  %li
    %a{ :href => "#discounts" } Group Travel Discounts
  %li
    %a{ :href => "#air" } Air Travel
  %li
    %a{ :href => "#trainbus" } Train &amp; Bus
  %li
    %a{ :href => "#driving" } Driving
  %li
    %a{ :href => "#pubtrans" } Public Transit to and around Santa Barbara
  %li
    %a{ :href => "#eco" } Zipcars, Bikes, and Eco-friendly travel

%a{ :name => "discounts" } 
%h3 Announcing Congress Airline Discounts!

%p 
  The 2011 US Go Congress now has <strong>discount codes</strong> that attendees can
  use when booking airline tickets and rental cars!

%p 
  <strong>United Airlines</strong>: Enter code 588DF for a 5-10% discount on United Airlines, and
  for a 20% discount using discount code CV 02R30006 when booking a rental car with
  Hertz at the same time as your United reservation.  See below for details.

%p 
  <strong>American Airlines</strong>: Online code coming soon! The code will entitle Congress
  attendees to a 5% discount off the lowest fares on American Airlines, and to
  additional discounts when booking rental cars with Avis.  See below for details.

%p
  <strong>Southwest Airlines</strong>: Southwest Airlines provides group discounts for groups of 10
  or more people flying with the same itinerary.  This year&#39;s Congress is going to help
  you take advantage of that discount!  If you are interested, into below the airport
  out of which you would like to fly, and once 10 people are interested in the same
  airport we will set up the group!  One example has already been created, see below
  for details.

%div.download-pdf
  %a{ :href => "../docs/USGC2011-Travel-Discounts.pdf" } Airline and Rental Car Discounts (PDF)

%a{ :name => "air" } 
%h3 Air Travel
%p Nearest Airports: Santa Barbara, Burbank, LAX
%div{ :class => "download-pdf" } 
  %a{ :href => "../docs/USGC2011-Flying.pdf" } Flight Planning Information (PDF)

%a{ :name => "trainbus" } 
%h3 Train &amp; Bus
%p{ :class => "notice" } Train station and bus station information coming Spring 2011
%ul
  %li Train station and possibilities
  %li Bus station and possibilities
  %li Links to Amtrak, Greyhound, etc.
  %li (Coming Spring 2011!) Schedules for trains and buses to Santa Barbara

%a{ :name => "driving" } 
%h3 Driving
%p{ :class => "notice" } Travel Itineraries by region coming Spring 2011
%ul
  %li Southern California natural attractions
  %li
    Itineraries by region
    %ul
      %li California
      %li Southwest
      %li Pacific Northwest
      %li Mountain states
      %li West-central Midwest
      %li East-central Midwest
      %li West South Central
      %li East South Central
      %li South Atlantic
      %li Mid-Atlantic
      %li New England
  %li Major US natural attractions

%a{ :name => "pubtrans" } 
%h3 Public Transit to and from Santa Barbara
%p 
  Local transit options are available from
  %a{ :href => "http://www.sbmtd.gov/passenger-information/other-local-transit.html" } www.sbmtd.gov
  for transit near Santa Barbara.  Information about train service into Santa
  Barbara from as far as Oregon, LA, and San Diego, as well as local service to
  Carpinteria and Goleta (the closest train station to UCSB) is available at
  %a{ :href => "http://www.santabarbara.com/community/transportation/train_station/" } www.santabarbara.com.
  Information about taxi services, as well as other transportation information,
  is available at 
  %a{ :href => "http://www.totalsantabarbara.com/trans.shtml" } www.totalsantabarbara.com.

%h3 Santa Barbara Public Transit
%p
  Planning to explore the area, but have no interest in renting a car?  Explore
  Santa Barbara&#39;s Public Transit system at %a{ :href => "http://www.sbmtd.gov" } sbmtd.gov, 
  coming soon with online trip planner.  Adult one-way fares are only $1.75,
  with discounts for children and seniors and free transfers!  Discounted day,
  10-day, and 30-day passes also available.

%div{ :class => "download-pdf" } 
  %a{ :href => "../docs/UCSB-map.pdf" } University Transportation &amp; Parking Map (PDF)

%p 
  See also:
  %a{ :href => "http://www.admissions.ucsb.edu/mapsanddirections.asp?section=visitucsb" } 
    UCSB Maps and Directions



<a name="eco">
%h3 Zipcars, Bikes, and Eco-friendly travel
%p 
  Know that you&#39;ll want a car during the trip, but not interested in renting a
  car for the week?  Make use of 
  %a{ :href => "http://www.zipcar.com/ucsb" } Zipcar 
  on the UCSB campus!  Zipcar is available to all drivers 18+ for a small annual
  fee and a small per hour rental fee.  Zipcars allow you the freedom of using a
  car when you need one, without the hastle and expense of renting a car for the
  whole trip.

<p class="notice">Bike rentals for 1-6 people, roller blades, and more coming Spring 2011
