%h2 Transportation
%h3 Updated 6/15/2011! 

%ul 
  %li
    %a{ :href => "#discounts" } Group Travel Discounts
  %li
    %a{ :href => "#air" } Air Travel
  %li
    %a{ :href => "#trainbus" } Train &amp; Bus
  %li
    %a{ :href => "#driving" } Driving
  %li
    %a{ :href => "#pubtrans" } Public Transit to and around Santa Barbara
  %li
    %a{ :href => "#eco" } Zipcars, Bikes, and Eco-friendly travel

%a{ :name => "discounts" } 
%h3 Announcing Congress Airline Discounts!

%p 
  The 2011 US Go Congress now has <strong>discount codes</strong> that attendees can
  use when booking airline tickets and rental cars!

%p 
  <strong>United Airlines</strong>: Enter code 588DF for a 5-10% discount on United Airlines, 
  and for a 20% discount using discount code CV 02R30006 when booking a rental car with Hertz 
  at the same time as your United reservation. See below for details. 

%p 
  <strong>American Airlines</strong>: Enter code A4971AZ for a 5% discount off the lowest 
  fares on American Airlines, and to additional discounts when booking rental cars with Avis. 

%p
  <strong>Southwest Airlines</strong>: Southwest Airlines provides group discounts for groups 
  of 10 or more people flying with the same itinerary.  This is a great option for people traveling 
  from major cities such as New York, Baltimore/Washington DC, Chicago, Seattle/Tacoma, and 
  San Francisco!  For more information, contact Congress Director Lisa Scott at 
  lisa.scott@gocongress.org. 

%div.download-pdf
  %a{ :href => "../docs/USGC2011-Travel-Discounts.pdf" } Airline and Rental Car Discounts (PDF)

%a{ :name => "air" } 
%h3 Air Travel
%p Nearest Airports: Santa Barbara, Burbank, LAX
%p
  For a ride from the LAX airport, use the Santa Barbara Airbus.  We have arranged with 
  %a{:href => "http://www.sbairbus.com/pages/display/laxshuttle", :target => "_blank"}Santa Barbara Airbus
  to drop off and pick up US Go Congress attendees near our registration 
  on the UCSB Campus!

%div{ :class => "download-pdf" } 
  %a{ :href => "../docs/USGC2011-Flying.pdf" } Flight Planning Information (PDF)

%a{ :name => "trainbus" } 
%h3 Train &amp; Bus
%p
  Mass transit enters Santa Barbara from all around the country.  For information on
  taking the train into Santa Barbara from around the country, explore 
  %a{:href => "http://tickets.amtrak.com/secure/content/routeatlas/index.html", :target => "_blank"}Amtrak's Interactive Route Atlas.
  More information on the Santa Barbara Amtrak Station is available
  %a{:href => "http://www.amtrak.com/servlet/ContentServer?c=am2Station&pagename=am/am2Station/Station_Page&p=1237405732508&cid=1229726270517", :target => "_blank"}online.
  Bus Lines 11 and 24X reach the UCSB campus easily from the Amtrak station.
  %a{:href => "http://maps.google.com/maps?f=d&source=s_d&saddr=209+State+Street,+Santa+Barbara,+California+93101+(Santa+Barbara+Amtrak)&daddr=University+of+California+Santa+Barbara&geocode=CcwSOVzPRcf9FZYcDQIdD6Ld-CHADlV4teHNPw;FRAdDQIdzkDb-CHCzrZcfmuVTg&hl=en&mra=pd&dirflg=r&ttype=dep&date=06/18/11&time=8:39am&noexp=0&noal=0&sort=def&sll=34.427868,-119.745483&sspn=0.124318,0.308647&ie=UTF8&ll=34.428151,-119.770889&spn=0.124318,0.308647&z=12&start=0", :target => "_blank"}Click here
  for an example.

%p
  %a{:href => "https://www.greyhound.com/", :target => "_blank"}Greyhound Bus Lines
  travels 4 times daily from the LA area to Santa Barbara.  For transportation from the
  %a{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=34+West+Carrillo+Street,+Santa+Barbara,+CA&aq=1&sll=34.42447,-119.702997&sspn=0.014655,0.038581&ie=UTF8&hq=&hnear=34+W+Carrillo+St,+Santa+Barbara,+California+93101&ll=34.420416,-119.702954&spn=0.007771,0.01929&z=16", :target => "_blank"}Greyhound Station,
  visit the Santa Barbara County website for
  %a{:href => "http://www.sbmtd.gov/maps-and-schedules/system-map.html", :target => "_blank"}public transit.
  Bus Lines 11 and 24X reach the UCSB campus easily from the Greyhound station.
  %a{:href => "http://maps.google.com/maps?f=d&source=s_d&saddr=34+W+Carrillo+St,+Santa+Barbara,+CA+93101&daddr=University+of+California+Santa+Barbara&geocode=Fac3DQIdUnrd-CktZFMQfBTpgDHkTZRcwm2qhQ;FRAdDQIdzkDb-CHCzrZcfmuVTg&hl=en&mra=prev&dirflg=r&ttype=dep&date=06/18/11&time=8:39am&noexp=0&noal=0&sort=def&sll=34.426594,-119.779301&sspn=0.06216,0.154324&ie=UTF8&z=13&start=0", :target => "_blank"}Click here
  for an example.

%a{ :name => "driving" } 
%h3 Driving
%p
  Driving to the US Go Congress can provide a great opportunity to save money, have a car handy,
  and see the country.  AAA provides an
  %a{:href => "http://ww1.aaa.com/scripts/WebObjects.dll/AAAOnline.woa/3010?zip=60637&association=aaa&referer=chicago.aaa.com&club=020&page=ITTServices&sessionRedirect=1308057081478", :target => "_blank"}Interactive Driving Travel Planner
  that can help attendees plan routes, find hotels and camp sites, stay fueled, and much more.
  Email Congress Director Lisa Scott at lisa.scott@gocongress.org if you have questions or would
  like advice on travel planning.

%h4 Car Rental
%p 
  A group discount has been arranged with Hertz Rent-a-Car.
  Please use Convention Number 04NT0001 or click on the image below:
%p
  %a{:href=>"http://link.hertz.com/link.html?id=24917&LinkType=HZLK&TargetType=Homepage&ret_url=thhp://www.gocongress.org/", :target=>"_blank"}
    = image_tag "logo/hertz.gif"

%a{ :name => "pubtrans" } 
%h3 Public Transit to and from Santa Barbara
%p 
  Local transit options are available from
  %a{ :href => "http://www.sbmtd.gov/passenger-information/other-local-transit.html" } www.sbmtd.gov
  for transit near Santa Barbara.  Information about train service into Santa
  Barbara from as far as Oregon, LA, and San Diego, as well as local service to
  Carpinteria and Goleta (the closest train station to UCSB) is available at
  %a{ :href => "http://www.santabarbara.com/community/transportation/train_station/" } www.santabarbara.com.
  Information about taxi services, as well as other transportation information,
  is available at 
  %a{ :href => "http://www.totalsantabarbara.com/trans.shtml" } www.totalsantabarbara.com.

%h3 Santa Barbara Public Transit
%p
  Planning to explore the area, but have no interest in renting a car?  Explore
  Santa Barbara&#39;s Public Transit system at
  %a{ :href => "http://www.sbmtd.gov", :target => "_blank"}sbmtd.gov,
  coming soon with online trip planner.  Adult one-way fares are only $1.75,
  with discounts for children and seniors and free transfers!  Discounted day,
  10-day, and 30-day passes also available.

%div{ :class => "download-pdf" } 
  %a{ :href => "../docs/UCSB-map.pdf" } University Transportation &amp; Parking Map (PDF)

%p 
  See also:
  %a{ :href => "http://www.admissions.ucsb.edu/mapsanddirections.asp?section=visitucsb" } 
    UCSB Maps and Directions



<a name="eco">
%h3 Zipcars, Bikes, and Eco-friendly travel
%p 
  Know that you&#39;ll want a car during the trip, but not interested in renting a
  car for the week?  Make use of 
  %a{ :href => "http://www.zipcar.com/ucsb", :target => "_blank"} Zipcar 
  on the UCSB campus!  Zipcar is available to all drivers 18+ for a small annual
  fee and a small per hour rental fee.  Zipcars allow you the freedom of using a
  car when you need one, without the hastle and expense of renting a car for the
  whole trip.
%p
  If you would like to rent a bike or roller skates, visit the Wheel Fun Rentals
  %a{ :href => "http://www.wheelfunrentalssb.com/", :target => "_blank"}website
  or contact Wheen Fun Rentals by phone at (805) 966-2282 or by
  %a{ :href => "mailto:info@wheelfunrentalsSB.com"}email
  to book your own!
