%h2 Daily Plans
%p
  A <strong>daily plan</strong> allows <strong>attendees</strong> to
  pick a set of dates, and charges a daily rate.
  There #{@num_daily_plans == 1 ? 'is' : 'are'} #{@num_daily_plans} daily plans.
  This report will show the first selected date for each attendee/plan.
  Registrars can use this report to find attendees who have selected
  unusual or mismatched dates.

%p= button_to "Download CSV", rpt_daily_plan_report_path + '.csv', :method => "get"
