%h1 What is an AGA ID?
Your AGA ID is your official Identification number used to
identify individuals over time, and assigned to each AGA member.
If you are not currently an AGA member, you may register at
= link_to "the AGA website", "https://www.usgo.org/cgi-bin/application.cgi"
now, or when you check in at the 2011 US Go Congress, at which time you
will be assigned a provisional number.  Information about registration
fees may be found
\#{link_to 'here', 'http://www.usgo.org/org/application.html'}.
You may not participate
in any go tournaments at the US Go Congress unless you are an AGA member.
