%h1 What is my Rank?
Amateur ranks in go range from 30 kyu to 1 kyu, and from 1 dan
to 7 dan; Professional ranks range from 1d professional to 9
dan professional.  If you are not sure of your AGA rating or
rank, but know your rating from another system, please consult
= link_to "Sensei's Library", "http://senseis.xmp.net/?RankWorldwideComparison"
for a rough comparison.  Please contact the Registrar at
= link_to "Registrar@gocongress.org", "mailto:registrar@gocongress.org"
if you have further questions.
