%h2 Who is Coming?

%p There are 456 people registered, including 84 youth who are not listed here for privacy reasons, and 47 attendees who wished not to be listed. Since this year&rsquo;s registration is through the University of Wisconsin, this list isn&rsquo;t dynamically updated, and will lag a bit behind current numbers.

%p Haven&rsquo;t registered yet? <a href="https://uwmadison.eventsair.com/gocongress19/reg">Register now!</a>

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th Given Name
      %th Family Name
      %th State (U.S.)
      %th Country
      %th Rank
  %tbody
    %tr
      %td Jonas
      %td Acres
      %td Oregon
      %td United States
      %td 21 kyu

    %tr
      %td James
      %td Acres
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Dallas
      %td Amunrud
      %td Oregon
      %td United States
      %td 18 kyu

    %tr
      %td Chen
      %td An
      %td North Carolina
      %td United States
      %td 7 dan

    %tr
      %td Benjamin
      %td Armitage
      %td Colorado
      %td United States
      %td 3 dan

    %tr
      %td Melanie
      %td Arnold
      %td Maryland
      %td United States
      %td 30 kyu

    %tr
      %td Keith
      %td Arnold
      %td Maryland
      %td United States
      %td 4 dan

    %tr
      %td Erica
      %td Arnold
      %td Maryland
      %td United States
      %td Non-Player

    %tr
      %td Bob
      %td Bacon
      %td North Carolina
      %td United States
      %td 6 kyu

    %tr
      %td Fritz Balwit
      %td Balwit
      %td Oregon
      %td United States
      %td 1 dan

    %tr
      %td David
      %td Baran
      %td California
      %td United States
      %td 7 kyu

    %tr
      %td Paul
      %td Barchilon
      %td Colorado
      %td United States
      %td 2 kyu

    %tr
      %td Jacob
      %td Beddingfield
      %td California
      %td United States
      %td 4 kyu

    %tr
      %td Huck
      %td Bennett
      %td Illinois
      %td United States
      %td 4 dan

    %tr
      %td Terry
      %td Benson
      %td New York
      %td United States
      %td 1 kyu

    %tr
      %td JIM
      %td Benthem
      %td Michigan
      %td United States
      %td 1 dan

    %tr
      %td Colette
      %td Bezio
      %td WI
      %td United States
      %td 12 kyu

    %tr
      %td Nick
      %td Blake
      %td Massachusetts
      %td United States
      %td 3 dan

    %tr
      %td Kenneth
      %td Blake
      %td Texas
      %td United States
      %td 1 kyu

    %tr
      %td Vivienne
      %td Blandy
      %td Oregon
      %td United States
      %td 6 kyu

    %tr
      %td Andreas
      %td Boerner
      %td Colorado
      %td United States
      %td 4 kyu

    %tr
      %td Jon
      %td Boley
      %td Washington
      %td United States
      %td 5 dan

    %tr
      %td James
      %td Bonomo
      %td Virginia
      %td United States
      %td 2 kyu

    %tr
      %td frank
      %td brown
      %td Washington
      %td United States
      %td 5 kyu

    %tr
      %td Richard
      %td Brown
      %td Wisconsin
      %td United States
      %td 3 kyu

    %tr
      %td Julie
      %td Burrall
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Matthew
      %td Burrall
      %td California
      %td United States
      %td 7 dan

    %tr
      %td Steven
      %td Burrall
      %td California
      %td United States
      %td 3 dan

    %tr
      %td Jonathan
      %td Buss
      %td Ontario
      %td Canada
      %td 4 dan

    %tr
      %td Brad
      %td Cable
      %td Illinois
      %td United States
      %td 13 kyu

    %tr
      %td Jack
      %td Cary
      %td Vermont
      %td United States
      %td 4 kyu

    %tr
      %td Eva
      %td Casey
      %td Massachusetts
      %td United States
      %td 5 kyu

    %tr
      %td Paul
      %td Celmer
      %td North Carolina
      %td United States
      %td 1 dan

    %tr
      %td Paul
      %td Celmer
      %td North Carolina
      %td United States
      %td 1 dan

    %tr
      %td Tony
      %td Cha
      %td Georgia
      %td United States
      %td 4 dan

    %tr
      %td Nathan
      %td Chan
      %td Illinois
      %td United States
      %td 2 kyu

    %tr
      %td Samantha
      %td Chang
      %td Illinois
      %td United States
      %td 25 kyu

    %tr
      %td Yu-lin
      %td Chang
      %td Wisconsin
      %td United States
      %td 2 dan

    %tr
      %td Adam
      %td Chase
      %td Wisconsin
      %td United States
      %td 6 kyu

    %tr
      %td Zhaonian
      %td Chen
      %td New Jersey
      %td United States
      %td 7 dan

    %tr
      %td Di
      %td Chen
      %td New Jersey
      %td United States
      %td Non-Player

    %tr
      %td Cong
      %td Chen
      %td Illinois
      %td United States
      %td 1 dan

    %tr
      %td Jing
      %td Chen
      %td New Jersey
      %td United States
      %td Non-Player

    %tr
      %td Jin
      %td Chen
      %td California
      %td United States
      %td 5 dan

    %tr
      %td David
      %td Cho
      %td Massachusetts
      %td United States
      %td 5 dan

    %tr
      %td Haeree
      %td Choi
      %td California
      %td United States
      %td Non-Player

    %tr
      %td Daniel
      %td CHOU
      %td Virginia
      %td United States
      %td 6 dan

    %tr
      %td Stephen
      %td Choung
      %td New Jersey
      %td United States
      %td 2 kyu

    %tr
      %td Stephen
      %td Colburn
      %td New York
      %td United States
      %td 5 kyu

    %tr
      %td Jim
      %td Conyngham
      %td Texas
      %td United States
      %td 4 kyu

    %tr
      %td Rexford
      %td Cristal
      %td New Jersey
      %td United States
      %td Non-Player

    %tr
      %td Bob
      %td Crites
      %td Pennsylvania
      %td United States
      %td 5 kyu

    %tr
      %td Joseph
      %td Cua
      %td New Jersey
      %td United States
      %td 9 kyu

    %tr
      %td Vladimir
      %td Danek
      %td 
      %td Czech Republic
      %td 5 dan

    %tr
      %td Brady
      %td Daniels
      %td Oregon
      %td United States
      %td 2 dan

    %tr
      %td Lenka
      %td Dankova
      %td 
      %td Czech Republic
      %td 4 kyu

    %tr
      %td Fredrick
      %td Davis
      %td 
      %td United States
      %td 9 kyu

    %tr
      %td Susan
      %td De Vos
      %td Wisconsin
      %td United States
      %td 9 kyu

    %tr
      %td Cory
      %td Dissinger
      %td Pennsylvania
      %td United States
      %td 13 kyu

    %tr
      %td Richard
      %td Dolen
      %td California
      %td United States
      %td 4 dan

    %tr
      %td Ze-Li
      %td Dou
      %td Texas
      %td United States
      %td 4 dan

    %tr
      %td Sherrie
      %td Echols
      %td Minnesota
      %td United States
      %td 4 kyu

    %tr
      %td Marion
      %td Edey
      %td Maryland
      %td United States
      %td 9 kyu

    %tr
      %td Elaine
      %td Ehrlich
      %td Virginia
      %td United States
      %td Non-Player

    %tr
      %td Robert
      %td Ehrlich
      %td Virginia
      %td United States
      %td 4 kyu

    %tr
      %td Kendra
      %td Elliston
      %td Massachusetts
      %td United States
      %td Non-Player

    %tr
      %td Jasper
      %td Emerton
      %td Tennessee
      %td United States
      %td 2 dan

    %tr
      %td Mario
      %td Espinoza
      %td New Mexico
      %td United States
      %td 7 kyu

    %tr
      %td Arnold
      %td Eudell
      %td Maryland
      %td United States
      %td 4 kyu

    %tr
      %td Kent
      %td Evenson
      %td Colorado
      %td United States
      %td 1 dan

    %tr
      %td Morgan
      %td Faas
      %td Wisconsin
      %td United States
      %td 30 kyu

    %tr
      %td Tianfeng
      %td Fang
      %td 
      %td China
      %td 8 pro

    %tr
      %td Samantha
      %td Fede
      %td Maryland
      %td United States
      %td 5 kyu

    %tr
      %td Magda
      %td Ferl
      %td California
      %td United States
      %td 20 kyu

    %tr
      %td Adam
      %td Fleming
      %td Illinois
      %td United States
      %td 20 kyu

    %tr
      %td Mark
      %td Fraser
      %td New Mexico
      %td United States
      %td 6 kyu

    %tr
      %td Kazuko
      %td Funakoshi
      %td Ontario
      %td Canada
      %td 2 dan

    %tr
      %td James
      %td Funk
      %td Pennsylvania
      %td United States
      %td 2 dan

    %tr
      %td Scott
      %td Gagnon
      %td Ontario
      %td Canada
      %td 4 kyu

    %tr
      %td Jake
      %td Game
      %td 
      %td United States
      %td 4 dan

    %tr
      %td Carol
      %td Gao
      %td California
      %td United States
      %td Non-Player

    %tr
      %td Chris
      %td Garlock
      %td Maryland
      %td United States
      %td 3 dan

    %tr
      %td Robert
      %td Gilman
      %td New Mexico
      %td United States
      %td 6 kyu

    %tr
      %td John
      %td Gipson
      %td Maryland
      %td United States
      %td 5 kyu

    %tr
      %td David
      %td Glekel
      %td New York
      %td United States
      %td 3 dan

    %tr
      %td David
      %td Goeke
      %td California
      %td United States
      %td 4 kyu

    %tr
      %td Zachary
      %td Gormley
      %td Utah
      %td United States
      %td 1 dan

    %tr
      %td Jonathan
      %td Green
      %td Maine
      %td United States
      %td 2 kyu

    %tr
      %td John
      %td Greiner
      %td Virginia
      %td United States
      %td 6 kyu

    %tr
      %td Benjamin
      %td Gunby
      %td Massachusetts
      %td United States
      %td 2 kyu

    %tr
      %td William
      %td Gundberg
      %td Arizona
      %td United States
      %td 2 kyu

    %tr
      %td Shuman
      %td Guo
      %td Georgia
      %td United States
      %td 20 kyu

    %tr
      %td Andrew
      %td Hall
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Billy
      %td Hand
      %td Illinois
      %td United States
      %td 9 kyu

    %tr
      %td Joshua
      %td Haney
      %td Maryland
      %td United States
      %td 6 kyu

    %tr
      %td Austin
      %td Harvey
      %td Wisconsin
      %td United States
      %td 2 dan

    %tr
      %td Christopher
      %td Haverly
      %td 
      %td United States
      %td 4 kyu

    %tr
      %td Todd
      %td Heidenreich
      %td Maryland
      %td United States
      %td 6 kyu

    %tr
      %td Raymond
      %td Heitmann
      %td Texas
      %td United States
      %td 5 kyu

    %tr
      %td Lewis
      %td Herman
      %td Il
      %td United States
      %td 7 kyu

    %tr
      %td Nathan
      %td Hess
      %td Texas
      %td United States
      %td 13 kyu

    %tr
      %td Nobuaki
      %td Hirose
      %td 
      %td Japan
      %td 2 dan

    %tr
      %td Eileen
      %td Hlavka
      %td California
      %td United States
      %td 8 kyu

    %tr
      %td Jim
      %td Hlavka
      %td California
      %td United States
      %td 1 kyu

    %tr
      %td Chris
      %td Hlavka
      %td California
      %td United States
      %td 14 kyu

    %tr
      %td Jeffrey
      %td Horn
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Stuart
      %td Horowitz
      %td Colorado
      %td United States
      %td 2 dan

    %tr
      %td Paul R.
      %td Howard
      %td Texas
      %td United States
      %td 8 kyu

    %tr
      %td Hua-Chen
      %td Hsu
      %td 
      %td Taiwan
      %td Non-Player

    %tr
      %td Xiaocheng
      %td Hu
      %td 
      %td Germany
      %td 6 dan

    %tr
      %td Alan
      %td Huang
      %td New Jersey
      %td United States
      %td 7 dan

    %tr
      %td Daqian
      %td Huang
      %td New Jersey
      %td United States
      %td 4 dan

    %tr
      %td Lee
      %td Huynh
      %td Illinois
      %td United States
      %td 2 dan

    %tr
      %td Inseong
      %td Hwang
      %td 
      %td France
      %td 7 dan

    %tr
      %td Susumu
      %td Hyodo
      %td 
      %td Japan
      %td 3 dan

    %tr
      %td Shunichi
      %td Hyodo
      %td 
      %td Japan
      %td 6 dan

    %tr
      %td Makiko
      %td Igushi
      %td 
      %td Japan
      %td 3 kyu

    %tr
      %td C. Louise
      %td Ingram
      %td Virginia
      %td United States
      %td 10 kyu

    %tr
      %td Satoru
      %td Inoue
      %td Illinois
      %td United States
      %td 1 dan

    %tr
      %td Bart
      %td Jacob
      %td Texas
      %td United States
      %td 3 kyu

    %tr
      %td Soren
      %td Jaffe
      %td Ohio
      %td United States
      %td 5 dan

    %tr
      %td Jerry
      %td Jaffe
      %td Ohio
      %td United States
      %td 1 dan

    %tr
      %td Eric
      %td Jankowski
      %td Idaho
      %td United States
      %td 2 dan

    %tr
      %td Richard
      %td Jankowski
      %td Michigan
      %td United States
      %td 7 kyu

    %tr
      %td Zhongfan
      %td Jian
      %td Massachusetts
      %td United States
      %td 7 dan

    %tr
      %td Mingjiu
      %td Jiang
      %td California
      %td United States
      %td 7 pro

    %tr
      %td Jianian
      %td Jin
      %td Wisconsin
      %td United States
      %td 5 dan

    %tr
      %td Yongquan
      %td Jin
      %td New York
      %td United States
      %td 3 dan

    %tr
      %td Justin
      %td Johnson
      %td MI
      %td United States
      %td 3 dan

    %tr
      %td Josh
      %td Johnson
      %td New York
      %td United States
      %td 13 kyu

    %tr
      %td Benjamin
      %td Jones
      %td Ohio
      %td United States
      %td 7 kyu

    %tr
      %td Michael
      %td Kaiser
      %td Illinois
      %td United States
      %td 4 kyu

    %tr
      %td John
      %td Kalb
      %td Oregon
      %td United States
      %td 1 kyu

    %tr
      %td Daniel
      %td Kastenholz
      %td Wisconsin
      %td United States
      %td 4 kyu

    %tr
      %td Masahiro
      %td Kawaguchi
      %td 
      %td Japan
      %td 5 dan

    %tr
      %td Richard
      %td Keay
      %td Ohio
      %td United States
      %td 2 kyu

    %tr
      %td Joel
      %td Kenny
      %td New York
      %td United States
      %td 4 dan

    %tr
      %td Gurujeet
      %td Khalsa
      %td Maryland
      %td United States
      %td 7 kyu

    %tr
      %td Yoonyoung
      %td Kim
      %td Quebec
      %td Canada
      %td 4 pro

    %tr
      %td Hyunghwan
      %td Kim
      %td Seoul
      %td South Korea
      %td 8 pro

    %tr
      %td Myungwan
      %td Kim
      %td California
      %td United States
      %td 9 pro

    %tr
      %td Hiroshi
      %td Kimura
      %td Shiga
      %td Japan
      %td 3 dan

    %tr
      %td Brian
      %td Kirby
      %td Mi
      %td United States
      %td 2 dan

    %tr
      %td Chris
      %td Kirschner
      %td Washington
      %td United States
      %td 3 dan

    %tr
      %td Tadafumi
      %td Kita
      %td 
      %td Japan
      %td 3 dan

    %tr
      %td Daniel
      %td Klawitter
      %td Iowa
      %td United States
      %td 5 kyu

    %tr
      %td Michiko
      %td Kobayashi
      %td 
      %td Japan
      %td 6 kyu

    %tr
      %td Kenneth
      %td Koester, Jr
      %td Maryland
      %td United States
      %td 2 dan

    %tr
      %td Keiko
      %td Komoto
      %td 7-8-11 oi
      %td Japan
      %td 29 kyu

    %tr
      %td Tadashi
      %td Komoto
      %td 7-8-11 oi
      %td Japan
      %td 5 dan

    %tr
      %td Barry
      %td Kraft
      %td Oregon
      %td United States
      %td 6 kyu

    %tr
      %td Christian
      %td Kühner
      %td 
      %td Germany
      %td 3 dan

    %tr
      %td Greg
      %td Kulevich
      %td Illinois
      %td United States
      %td 4 kyu

    %tr
      %td Steffen
      %td Kurz
      %td Minnesota
      %td United States
      %td 3 kyu

    %tr
      %td Jay
      %td Lampert
      %td Pennsylvania
      %td United States
      %td 3 dan

    %tr
      %td Howard
      %td Landman
      %td Colorado
      %td United States
      %td 1 kyu

    %tr
      %td Lester
      %td Lanphear
      %td California
      %td United States
      %td 2 kyu

    %tr
      %td Martin
      %td Lebl
      %td Arizona
      %td United States
      %td 5 dan

    %tr
      %td Mark
      %td Lee
      %td California
      %td United States
      %td 7 dan

    %tr
      %td Hajin
      %td Lee
      %td California
      %td United States
      %td 4 pro

    %tr
      %td Michael
      %td Lepore
      %td Virginia
      %td United States
      %td 3 dan

    %tr
      %td Mingjian
      %td Li
      %td 
      %td United States
      %td 2 dan

    %tr
      %td Ryan
      %td Li
      %td New York
      %td United States
      %td 1 pro

    %tr
      %td Karoline
      %td Li
      %td California
      %td United States
      %td 5 kyu

    %tr
      %td Xing Tong
      %td Li
      %td New York
      %td United States
      %td 30 kyu

    %tr
      %td Tao
      %td Li
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Ping
      %td Li
      %td Georgia
      %td United States
      %td 30 kyu

    %tr
      %td Hai
      %td Li
      %td New York
      %td United States
      %td 5 pro

    %tr
      %td Ted
      %td Lin
      %td New York
      %td United States
      %td 2 kyu

    %tr
      %td Judith
      %td Lipofsky
      %td Florida
      %td United States
      %td Non-Player

    %tr
      %td Barton
      %td Lipofsky
      %td FL
      %td United States
      %td 7 kyu

    %tr
      %td Jeffrey
      %td Losapio
      %td New Jersey
      %td United States
      %td 3 kyu

    %tr
      %td Eric
      %td Lui
      %td Maryland
      %td United States
      %td 1 pro

    %tr
      %td I-han
      %td Lui
      %td Maryland
      %td United States
      %td 7 dan

    %tr
      %td Andrew
      %td Luo
      %td Illinois
      %td United States
      %td 2 dan

    %tr
      %td Terry
      %td Luo
      %td Ohio
      %td United States
      %td 2 dan

    %tr
      %td Robert
      %td Lyman
      %td Colorado
      %td United States
      %td 14 kyu

    %tr
      %td Hongyun
      %td Ma
      %td 
      %td China
      %td Non-Player

    %tr
      %td Daniel
      %td Maas
      %td California
      %td United States
      %td 5 kyu

    %tr
      %td Dennis
      %td Mahoney
      %td Colorado
      %td United States
      %td 7 kyu

    %tr
      %td Cat
      %td Mai
      %td Massachusetts
      %td United States
      %td 3 kyu

    %tr
      %td William
      %td Maier
      %td New Mexico
      %td United States
      %td 3 kyu

    %tr
      %td Paul
      %td Margetts
      %td Ca
      %td United States
      %td 2 kyu

    %tr
      %td Jamie
      %td Marinic
      %td Ontario
      %td Canada
      %td 1 kyu

    %tr
      %td Phillip
      %td Marshall
      %td Wisconsin
      %td United States
      %td 12 kyu

    %tr
      %td Matthew
      %td Matlock
      %td Missouri
      %td United States
      %td 3 dan

    %tr
      %td Mamoru
      %td Matsumoto
      %td Osaka-Fu
      %td Japan
      %td 3 dan

    %tr
      %td Craig
      %td Mcgillivary
      %td Ohio
      %td United States
      %td 3 kyu

    %tr
      %td Luke
      %td Mckeown
      %td Wi
      %td United States
      %td 10 kyu

    %tr
      %td Alexander
      %td Medeiros
      %td Missouri
      %td United States
      %td Non-Player

    %tr
      %td Reinhardt
      %td Messerschmidt
      %td 
      %td United Kingdom
      %td 1 dan

    %tr
      %td Wanda
      %td Metcalf
      %td Massachusetts
      %td United States
      %td 5 kyu

    %tr
      %td Amanda
      %td Miller
      %td Massachusetts
      %td United States
      %td 8 kyu

    %tr
      %td Felipe
      %td Moreno
      %td New York
      %td United States
      %td 4 kyu

    %tr
      %td Richard
      %td Moseson
      %td New York
      %td United States
      %td 4 kyu

    %tr
      %td Markar
      %td Nahabedian
      %td Massachusetts
      %td United States
      %td 12 kyu

    %tr
      %td Yasuhiro
      %td Nakano
      %td 
      %td Japan
      %td 9 pro

    %tr
      %td Mayumi
      %td Nakano
      %td 
      %td Japan
      %td 20 kyu

    %tr
      %td Akiko
      %td Nakata
      %td Virginia
      %td United States
      %td Non-Player

    %tr
      %td Kazuko
      %td Nakata
      %td 
      %td Japan
      %td Non-Player

    %tr
      %td Yoshitomo
      %td Nakata
      %td Tokyo
      %td Japan
      %td 1 kyu

    %tr
      %td Michael
      %td Neigebauer
      %td Illinois
      %td United States
      %td 3 kyu

    %tr
      %td Richard
      %td Newman
      %td Colorado
      %td United States
      %td 9 kyu

    %tr
      %td Jeffrey
      %td Newmiller
      %td California
      %td United States
      %td 1 kyu

    %tr
      %td Li Li
      %td Niu
      %td NA
      %td Japan
      %td 5 pro

    %tr
      %td Satoshi
      %td Numano
      %td 
      %td Japan
      %td 1 dan

    %tr
      %td Eiko
      %td Nyu
      %td NA
      %td Japan
      %td 2 pro

    %tr
      %td Chanseok
      %td Oh
      %td Washington
      %td United States
      %td 5 dan

    %tr
      %td Moonhun
      %td Oh
      %td Virginia
      %td United States
      %td 1 dan

    %tr
      %td Yoko
      %td Ohashi
      %td 
      %td Japan
      %td 6 kyu

    %tr
      %td Andrew
      %td Okun
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Andy
      %td Olsen
      %td Texas
      %td United States
      %td 3 dan

    %tr
      %td Kunio
      %td One
      %td 
      %td Japan
      %td 1 dan

    %tr
      %td David
      %td Orr
      %td Michigan
      %td United States
      %td 8 kyu

    %tr
      %td Eric
      %td Osterby
      %td Wisconsin
      %td United States
      %td 11 kyu

    %tr
      %td Tyler
      %td Oyakawa
      %td California
      %td United States
      %td 5 dan

    %tr
      %td Matt
      %td Payton
      %td Maryland
      %td United States
      %td 4 kyu

    %tr
      %td Peilung
      %td Peng
      %td Texas
      %td United States
      %td 4 dan

    %tr
      %td Antonina
      %td Perez-Lopez
      %td Virginia
      %td United States
      %td 18 kyu

    %tr
      %td Maxwell
      %td Peterson
      %td Minnesota
      %td United States
      %td 6 dan

    %tr
      %td James
      %td Pickett
      %td Maryland
      %td United States
      %td 5 kyu

    %tr
      %td Keith
      %td Pierce
      %td Wisconsin
      %td United States
      %td 20 kyu

    %tr
      %td Eric
      %td Piotrowski
      %td Wisconsin
      %td United States
      %td 8 kyu

    %tr
      %td Pauline
      %td Pohl
      %td Illinois
      %td United States
      %td 2 kyu

    %tr
      %td Eric
      %td Proces
      %td Wisconsin
      %td United States
      %td 15 kyu

    %tr
      %td Robert
      %td Qi
      %td New Jersey
      %td United States
      %td 8 kyu

    %tr
      %td Edward
      %td Ream
      %td Wisconsin
      %td United States
      %td 1 dan

    %tr
      %td John
      %td Redford
      %td Texas
      %td United States
      %td 6 kyu

    %tr
      %td Tyler
      %td Reeson
      %td Wi
      %td United States
      %td 11 kyu

    %tr
      %td David
      %td Richardson
      %td Massachusetts
      %td United States
      %td 14 kyu

    %tr
      %td Neil
      %td Ritter
      %td Massachusetts
      %td United States
      %td 2 kyu

    %tr
      %td Austin
      %td Robinson
      %td New York
      %td United States
      %td 4 kyu

    %tr
      %td David
      %td Rockwell
      %td Illinois
      %td United States
      %td 6 kyu

    %tr
      %td David
      %td Rohde
      %td Illinois
      %td United States
      %td 4 kyu

    %tr
      %td David
      %td Rolsky
      %td MN
      %td United States
      %td 2 kyu

    %tr
      %td Mark
      %td Ronan
      %td Ohio
      %td United States
      %td 1 kyu

    %tr
      %td Brendan
      %td Roof
      %td Washington
      %td United States
      %td 1 kyu

    %tr
      %td Bradley
      %td Rose
      %td Illinois
      %td United States
      %td 13 kyu

    %tr
      %td Gregory
      %td Rosenblatt
      %td Ontario
      %td Canada
      %td 5 dan

    %tr
      %td Mark
      %td Rubenstein
      %td Illinois
      %td United States
      %td 4 kyu

    %tr
      %td Larry
      %td Russ
      %td New Jersey
      %td United States
      %td 4 kyu

    %tr
      %td Kacey
      %td Saff
      %td Colorado
      %td United States
      %td 7 kyu

    %tr
      %td Kenneth
      %td Sammon
      %td New Hampshire
      %td United States
      %td 7 kyu

    %tr
      %td Joel
      %td Sanet
      %td Florida
      %td United States
      %td 1 dan

    %tr
      %td Marc
      %td Sarrel
      %td California
      %td United States
      %td 4 kyu

    %tr
      %td Reiko
      %td Sata
      %td 
      %td Japan
      %td 1 dan

    %tr
      %td Kenneth
      %td Schatten
      %td Maryland
      %td United States
      %td 6 kyu

    %tr
      %td Mitchell
      %td Schmeisser
      %td Pennsylvania
      %td United States
      %td 2 kyu

    %tr
      %td Dan
      %td Schmidt
      %td Massachusetts
      %td United States
      %td 3 kyu

    %tr
      %td George
      %td Schmitten
      %td Washington
      %td United States
      %td 6 kyu

    %tr
      %td Lee
      %td Schumacher
      %td California
      %td United States
      %td 1 dan

    %tr
      %td Peter
      %td Schumer
      %td Vermont
      %td United States
      %td 2 kyu

    %tr
      %td Laura (Lisa)
      %td Scott
      %td Illinois
      %td United States
      %td 2 kyu

    %tr
      %td James
      %td Sedgwick
      %td Ontario
      %td Canada
      %td 6 dan

    %tr
      %td Alicia M
      %td Seifrid
      %td Illinois
      %td United States
      %td 13 kyu

    %tr
      %td Jing( Jennie)
      %td Shen
      %td California
      %td United States
      %td 2 pro

    %tr
      %td Nick
      %td Sibicky
      %td WA
      %td United States
      %td 4 dan

    %tr
      %td Debbie
      %td Siemon
      %td Georgia
      %td United States
      %td 1 dan

    %tr
      %td Richard
      %td Simon
      %td New York
      %td United States
      %td 3 kyu

    %tr
      %td Rachel
      %td Small
      %td New York
      %td United States
      %td 9 kyu

    %tr
      %td Haskell
      %td Small
      %td District of Columbia
      %td United States
      %td 2 dan

    %tr
      %td Betsy
      %td Small
      %td District of Columbia
      %td United States
      %td 13 kyu

    %tr
      %td Solomon
      %td Smilack
      %td Colorado
      %td United States
      %td 3 dan

    %tr
      %td Garrett
      %td Smith
      %td Virginia
      %td United States
      %td 10 kyu

    %tr
      %td Richard
      %td Solberg
      %td Illinois
      %td United States
      %td 2 kyu

    %tr
      %td Myron
      %td Souris
      %td Missouri
      %td United States
      %td 1 kyu

    %tr
      %td Laura
      %td Sparks
      %td California
      %td United States
      %td 6 kyu

    %tr
      %td Eli
      %td Steiger
      %td Ohio
      %td United States
      %td 18 kyu

    %tr
      %td Gregory
      %td Steltenpohl
      %td Wisconsin
      %td United States
      %td 5 kyu

    %tr
      %td Phil
      %td Straus
      %td Pennsylvania
      %td United States
      %td 1 dan

    %tr
      %td Steve
      %td Stringfellow
      %td Washington
      %td United States
      %td 5 dan

    %tr
      %td JUNNAN
      %td SUN
      %td 
      %td China
      %td Non-Player

    %tr
      %td Xian
      %td Sun
      %td 
      %td China
      %td Non-Player

    %tr
      %td Fumio
      %td Suzuki
      %td 
      %td Japan
      %td 3 dan

    %tr
      %td Vincent
      %td Tam
      %td Texas
      %td United States
      %td 4 kyu

    %tr
      %td Yuchang
      %td Tan
      %td New Jersey
      %td United States
      %td 18 kyu

    %tr
      %td Tomikazu
      %td Tatsumi
      %td 
      %td Japan
      %td 1 dan

    %tr
      %td Emi
      %td Tatsumi
      %td 
      %td Japan
      %td 30 kyu

    %tr
      %td Vincent
      %td Tcheng
      %td California
      %td United States
      %td 4 kyu

    %tr
      %td Justin
      %td Teng
      %td Maryland
      %td United States
      %td 6 dan

    %tr
      %td Theodore
      %td Terpstra
      %td Ca
      %td United States
      %td 5 kyu

    %tr
      %td Schurter
      %td Terri
      %td New Jersey
      %td United States
      %td 10 kyu

    %tr
      %td Jason
      %td Thomason
      %td Utah
      %td United States
      %td 1 kyu

    %tr
      %td Yi
      %td Tong
      %td Wisconsin
      %td United States
      %td 1 dan

    %tr
      %td Tevis
      %td Tsai
      %td Md
      %td United States
      %td 6 kyu

    %tr
      %td Jacob
      %td Upland
      %td Iowa
      %td United States
      %td 1 dan

    %tr
      %td Tom
      %td Urasoe
      %td .
      %td Japan
      %td Non-Player

    %tr
      %td Anurag
      %td Varma
      %td North Dakota
      %td United States
      %td 3 kyu

    %tr
      %td Ashish
      %td Varma
      %td Minnesota
      %td United States
      %td 5 dan

    %tr
      %td Eric
      %td Wainwright
      %td Colorado
      %td United States
      %td 1 dan

    %tr
      %td Xinyu
      %td Wang
      %td Illinois
      %td United States
      %td 1 dan

    %tr
      %td Qian
      %td Wang
      %td New York
      %td United States
      %td Non-Player

    %tr
      %td Jing
      %td Wang
      %td 
      %td China
      %td Non-Player

    %tr
      %td Matthew
      %td Watkins
      %td Wisconsin
      %td United States
      %td 2 kyu

    %tr
      %td Steven
      %td Wayne
      %td Illinois
      %td United States
      %td 15 kyu

    %tr
      %td David
      %td Weimer
      %td Wisconsin
      %td United States
      %td 2 dan

    %tr
      %td Paul
      %td Weiner
      %td Minnesota
      %td United States
      %td 7 kyu

    %tr
      %td Xiangying
      %td Wen
      %td New York
      %td United States
      %td Non-Player

    %tr
      %td Ya
      %td Wen
      %td New York
      %td United States
      %td Non-Player

    %tr
      %td Dennis
      %td Wheeler
      %td Washington
      %td United States
      %td 7 kyu

    %tr
      %td Dave
      %td Whipp
      %td California
      %td United States
      %td 6 kyu

    %tr
      %td Nicholas
      %td Wilmes
      %td Washington
      %td United States
      %td 3 kyu

    %tr
      %td Ryan
      %td Woolgar
      %td Wisconsin
      %td United States
      %td 9 kyu

    %tr
      %td Neal
      %td Wright
      %td Oregon
      %td United States
      %td 5 kyu

    %tr
      %td Boyuan
      %td Xie
      %td Illinois
      %td United States
      %td 5 dan

    %tr
      %td Nqua
      %td Xiong
      %td Minnesota
      %td United States
      %td 2 dan

    %tr
      %td Lei
      %td Xu
      %td 
      %td China
      %td Non-Player

    %tr
      %td Noriko
      %td Yamamoto
      %td 
      %td Japan
      %td 3 kyu

    %tr
      %td Jie
      %td Yang
      %td 
      %td China
      %td Non-Player

    %tr
      %td Yilun
      %td Yang
      %td California
      %td United States
      %td 7 pro

    %tr
      %td Mingming
      %td Yin
      %td New York
      %td United States
      %td 1 pro

    %tr
      %td Yong
      %td Yin
      %td 
      %td China
      %td 10 kyu

    %tr
      %td Lesheng
      %td Yin
      %td 
      %td China
      %td Non-Player

    %tr
      %td Peter
      %td Zhang
      %td New Jersey
      %td United States
      %td 3 dan

    %tr
      %td Qingbo
      %td Zhang
      %td Virginia
      %td United States
      %td 5 dan

    %tr
      %td Na
      %td Zhang
      %td 
      %td United States
      %td Non-Player

    %tr
      %td Alice
      %td Zhang
      %td 
      %td China
      %td 1 dan

    %tr
      %td Wenguang
      %td Zhao
      %td California
      %td United States
      %td 6 dan

    %tr
      %td Hongkui
      %td Zheng
      %td California
      %td United States
      %td 7 dan

    %tr
      %td Li
      %td Zheng
      %td New York
      %td United States
      %td Non-Player

    %tr
      %td Afa
      %td Zhou
      %td New York
      %td United States
      %td 1 dan

    %tr
      %td Heyang
      %td Zhou
      %td 
      %td China
      %td 9 pro

    %tr
      %td Yixian
      %td Zhou
      %td California
      %td United States
      %td 6 dan

    %tr
      %td Steven A
      %td Zilber
      %td Ohio
      %td United States
      %td 12 kyu

    %tr
      %td Neil
      %td Zod
      %td Pennsylvania
      %td United States
      %td 11 kyu