- if @sim_response.declined?
  Sorry, your card was declined.
- elsif @sim_response.error?
  Sorry, there was an error processing your card.
- elsif @sim_response.approved?
  Sorry, we were unable to authenticate the response from the
  payment gateway.
- else
  Sorry, something went wrong.

Please go back and try your payment again.

If you continue to have trouble, please contact the registrar.
