Sorry, your payment went through, but we weren't able to verify it.

Don't worry, because we have a record of it, and we'll get an email
about it.

However, it's not going to show up automatically on your payment
history. Please contact us to make sure we give you credit. Sorry
about the trouble!
