%p
  Sorry,
  - if @sim_response.declined?
    your card was declined.
  - elsif @sim_response.error?
    there was an error processing your card.
  - elsif @sim_response.approved?
    -# The response claims to be approved, but the md5 checksum failed.
    we were unable to authenticate the response from the
    payment gateway.
  - else
    we were unable to process your card.

%p
  (#{@sim_response.response_reason_code})
  = @sim_response.response_reason_text
%p Please go back and try your payment again.
%p If you continue to have trouble, please contact the registrar.
