%div.app-call-to-action
	%a{:href => 'http://my.yapp.us/2S7NJB'}

		%p.download Download the Official&nbsp;App

		%svg.icon.icon-colon.content-bullet.medium
			%use{:'xlink:href' => image_path('colonial-bullets/symbol-defs.svg') + '#icon-colon'}


		%div.side-by-side
			%p The greatest invention since the Franklin stove

			%p Make your mobile phone your guide
