%h2
  Join us for the
  = @year.ordinal_number.ordinalize
  Annual U.S. Go Congress!

%p
  For thirty three years, the U.S. Go Congress&mdash;the biggest, most
  exciting event of the year for American Go&mdash;has provided unique and
  memorable opportunities for go players to improve their game, make new
  friends, and learn from some of the best players in the world.

%p
  We are proud to announce that the 34th Go Congress will take place in
  %a{:href => "https://en.wikipedia.org/wiki/Williamsburg,_Virginia"} Williamsburg, Virginia,
  on the campus of
  %a{:href => "http://www.wm.edu/"} William &amp; Mary,
  and will be hosted by the
  %a{:href => "http://nationalgocenter.org"} National Go Center.
  Come revisit the messy, fascinating history of the United States&rsquo;
  founding as you participate in the universal and timeless struggle for <del>liberty</del> liberties.


%p
  &mdash; Your 2018 Directors,
  %a{:href => "mailto:diego.pierrottet@nationalgocenter.org"} Diego&nbsp;Pierrottet
  &amp;
  %a{:href => "mailto:nate.eagle@nationalgocenter.org"} Nate&nbsp;Eagle

%div{:class => "dorm-facade scroller-image"}

%h2{:class => "buffer-top" } Statement of Welcome

%p
  All are welcome at the U.S. Go Congress! We welcome all attendees regardless of
  differences, including race, gender expression or identity, sexual
  orientation, immigration status, ability, religion, or any other personal
  identity or belief. Our shared interests, differing backgrounds, and mutual
  respect strengthen our community. We ask that attendees abide by the

  %a{:href => "http://www.usgo.org/aga-code-conduct" } AGA Code of Conduct

  and help us to create a welcoming and safe environment for everyone
  who comes to share their passion for go at the Go Congress.
