%h2
  Subscribe &amp; Stay Updated!
%p
  = link_to "Subscribe", "http://eepurl.com/bC8CBX"
  to the US Go Congress mailing list to stay up to date on next year&rsquo;s
  Congress and to be among the first to know when registration opens!
