%h2.buffer-top
  Subscribe &amp; Stay Updated!
%p
  = link_to "Subscribe", "http://eepurl.com/bC8CBX"
  to the U.S. Go Congress mailing list to stay up to date on this year&rsquo;s developments as they happen!

%svg.icon.icon-seven.content-bullet.medium
  %use{:'xlink:href' => image_path('colonial-bullets/symbol-defs.svg') + '#icon-seven'}

%img.give-me-liberties{:src => image_path('2018/give-me-liberties.png')}

%svg.icon.icon-semicolon.content-bullet.medium
  %use{:'xlink:href' => image_path('colonial-bullets/symbol-defs.svg') + '#icon-semicolon'}
