%tr{:class => if plan.disabled? then "disabled" end}
  %td.valign-middle.align-right= plan_selection_inputs(plan)
  %td
    %label{for: plan_label_name(plan)}= plan.name
  = render :partial => "plan_categories/plan_table_common_cells", :locals => { :plan => plan }
