%h2 Costs

- if can? :manage, PlanCategory
  .flow-padding= button_to 'Create New Category', new_plan_category_path, :method => "get"

- @plan_categories.each do |pc|
  %h3= link_to pc.name, pc
  = markdown_if_present(pc.description)

%br
