%h2 New Plan Category

- if @year.registration_phase == 'closed'
  = render 'form'

  = link_to 'Back', plan_categories_path

%p
  Plan categories are fixed while the registration phase is open or complete.
