.shirt-image {
  text-align: center;
  img {
    border: none;
    max-height: 150px;
    max-width: 150px;
  }
}
.color-block {
  border: 1px solid black;
  float: left;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 80px;
}
