$main-bg-color: #333 !default;
$nav-link-color: white !default;
$nav-bg-color: #555 !default;
$nav-bg-highlight-color: #777 !default;
$admin-nav-bg-color: #64aede !default;

$primary-font: Open Sans, Verdana, sans-serif !default;
$emphasis-font: Cabin, Helvetica, sans-serif !default;

$spacing-unit: 30px !default;

$box-bg-dark: #ffc369 !default;
$box-bg: #ffdaa3 !default;
$box-bg-lighter: #ffe8bd !default;
$box-bg-light: darken(#ffe8bd, 8%) !default;

$button-bg: #555 !default;
$button-bg-highlight: #777 !default;
$button-bg-emphasis: #777 !default;
