.homepage {
  .content {

    /* homepage overrides default padding so that the gallery will
    float snugly in the top right */
    padding: 0px 0px 20px 0px;
    width: 900px;
    p, h2, h3, h4, h5 { padding: 0.5em 15px; }

    /* Curving the text around the logo */
    .curvy-text-container { padding-top: 10px; position: relative; }
    .curvy-text-container #usgc-logo { position: absolute; left: -140px; top: 10px; width: 300px; }
    .curvy-text-container .curvy-spacer { clear: left; float: left; height: 19px; }
    .curvy-text-container p { padding: 0.5em; text-align: justify; }

    /* Misc. */
    &.past-years { padding: 3px 0px 0px 0px; }
  }
}

/* Slideshow */
#gallery-column {
  float:right;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1; // everything else will be on 0
  #below-gallery {
    padding: 0px;
    text-align: right;
    #venue-address {
      padding: 7px 7px 0px 0px;
    }
  }
}
#gallery {
  width: 480px;
  height: 360px;
}

/* Begin overriding styles for some of galleria's internal elements.
We must use !important here because otherwise they are ignored in
IE. This may be due to how IE applies styles when a <link> element
referencing the galleria theme is added at runtime by JS, but I am
not certain. -Jared 2012-05-31 */
.galleria-stage {
  bottom:0px !important;
  left:0px !important;
  right:0px !important;
  top:0px !important;
}

/* Slideshow captions */
.galleria-info {
  bottom: 0px !important;
  left: 0px !important;
  position: absolute !important;
  right: auto !important;
  top: auto !important;
  width: 100% !important;
}
.galleria-info-text {
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: block !important;
}
.galleria-info-title, .galleria-info-description {
  display: inline !important;
}
.galleria-info-description {
  padding-left: 2em !important;
}
.galleria-info-link {
  display: none !important;
}
