@import "variables";
@import "intlTelInput";
@import "mixins";

@import "mixins/breakpoint";
@import "modules/adaptive-nav";

@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Open+Sans:400,700");

@import "scaffold";
@import "home";
@import "tables";
@import "jquery_ui_tweaks";
@import "_shirt_colors";
@import "editable_texts";

@import "stripe";

/* Color for specific years */ // &.year2011 {
//   $main-bg-color: #ff9b05;
//   $nav-bg-color: #0071bc;
// }
// &.year2012 {
//   $main-bg-color: #453775;
//   $nav-bg-color: #8d7ac9;
// }
// &.year2013 {
//   $main-bg-color: #333;
//   $nav-bg-color: #555;
//   $admin-nav-bg-color: #777;
// }
// &.year2015 {
//   $main-bg-color: #2c3243;
//   $nav-bg-color: #32394c;
// }
// &.year2019 {
//   $main-bg-color: #000000;
//   $nav-bg-color: #8ca5ff;
// }
// &.year2020 {
// }
/* Configuration: Layout */
$content_width: 880px;

/* Basic element styling (no classes yet) */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  color: #555;
}

a {
  color: $link-color;
  &:visited {
    color: $link-color-visited;
  }
}

input,
textarea,
select {
  color: hsl(0, 0%, 20%);
}

hr {
  margin: 1em 0em 1em 0em;
}

blockquote {
  font-size: 14px;
  font-style: oblique;
  padding: 0px 10px;
}

/* fieldset deliberately has the same vertical padding as a paragraph so
that floated paragraphs (eg. vertical-form-instructions) are aligned at the
top of the page. */
fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}
legend {
  font-size: 18px;
  font-weight: bold;
  padding: 1em 0em 0.25em 0em;
}
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

/* Some jQuery UI widgets, like datepicker, are installed as direct
children of the document body.  Their styles will be based off of
the body, eg. font-size in ems. */
body {
  font-size: 11px;
}

/* `.body-container` is a direct child of `body`.  These styles will
apply to just about everything except jQuery UI widgets (see note
above).  Although there is only one `.body-container` we use a class
because an id would have too much priority, and would override
things like `.nav li` */
.body-container {
  /* Font Families */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  legend,
  th {
    font-family: $emphasis-font;
  }
  body,
  td,
  p,
  span,
  div,
  li,
  hr,
  blockquote {
    font-family: $primary-font;
  }

  /* Basic font sizing */
  font-size: 18px;

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }

  h1,
  h2,
  h3 {
    line-height: 1;
  }

  p,
  span,
  div {
    font-size: 18px;
  }
  .smalltext {
    font-size: 14px;
  }
}

/* Truly basic classes that could apply anywhere -Jared 12/30/10 */
.clear {
  clear: both;
}
.fullwidth {
  width: 100%;
}
.inline {
  display: inline;
}
.inline-children {
  display: inline;
  * {
    display: inline;
  }
}
th {
  text-align: left;
}
th.row {
  vertical-align: top;
}
table .numeric {
  text-align: right;
}
img.thin-border {
  border: 1px solid black;
}

.initially-hidden {
  display: none;
}

.hardwrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Basic shortcuts: alignment */
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.valign-middle {
  vertical-align: middle;
}
.valign-top {
  vertical-align: top;
}

/* Common margin shortcuts */
.push-top {
  margin-top: 20px;
}
.push-bottom {
  margin-bottom: 20px;
}
.push-left {
  margin-left: 20px;
}
.push-right {
  margin-right: 20px;
}

/* Use this class to pad flow elements (eg. div, form) -Jared 4/9/11 */
.flow-padding {
  padding: 8px 0px;
}

/* Symetrical two column layout */
.left-column,
.right-column {
  @include box-sizing(border-box);
  display: inline-block;
  vertical-align: top;
  width: 438px;
}
.left-column {
  padding-right: 5px;
}
.right-column {
  padding-left: 5px;
}

/* Asymetrical two column layout (two-thirds / one-third) */
.asymetrical-columns .left-column {
  display: inline-block;
  padding-right: 32px;
  width: 60%;
  vertical-align: top;
}
.asymetrical-columns .right-column {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

/* A horizontal line of stuff, each one floated left with
some padding between each -Jared 2012-05-30 */
.floating-padded-line-item {
  float: left;
  padding: 1em 2em 1em 0em;
}

/* Remove the default border on anchored images */
/* I hope this works as well as the img.border attribute -Jared 11/29/10 */
a img {
  border: none;
}

/* Definition lists */
dt {
  clear: left;
  float: left;
  padding-right: 1em;
  font-weight: bold;
}
dd {
  float: left;
}

/* Header */
body {
  /* Default color */

  #header-container {
    background-color: $main-bg-color;
  }
}
#header {
  margin: 0 auto;
  padding: $spacing-unit $spacing-unit $spacing-unit / 2;
  display: flex;
  align-items: flex-end;

  @include breakpoint(lt-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

#usgc-title-container {
  margin-right: auto;
  flex-grow: 1;
}

#usgc-title-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  line-height: 1;
  padding-top: 0.2em;

  @include breakpoint(lt-sm) {
    margin-bottom: 0.5em;
  }
}

#usgc-title-container a {
  color: white;
  text-decoration: none;
}

.header-logo {
  width: $logo-width;
  position: absolute;
  top: ($spacing-unit / 4);
  right: ($spacing-unit / 2);
  z-index: 10;

  img {
    position: relative;
    width: 100%;
  }
}

#usgc-when-where-container {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

/* Nav menu */
.nav-container-admin {
  background-color: $admin-nav-bg-color;

  .-secondary {
    background-color: $admin-nav-bg-color;
  }

  .nav {
    button {
      background-color: $admin-nav-bg-color;
    }

    li {
      a {
        &:hover {
          background-color: $admin-nav-bg-highlight-color !important;
        }
      }
    }
  }
}
body {
  /* Default color */
  .nav-container,
  .-secondary {
    background-color: $nav-bg-color;
  }
}

.nav {
  margin: {
    top: 0;
    right: $spacing-unit;
    bottom: 0;
    left: $spacing-unit - 10px;
  }
  // padding: 3px 0px;
  // text-align: center;

  li,
  button {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: bold;
  }

  button {
    background: $nav-bg-color;
    line-height: 25px;
  }

  li {
    display: inline-block;
    list-style: none;
    // text-align: center;
    &#nav-admin-title {
      padding: 5px 10px;
    }
    &#nav-registration a {
      color: #ff2;
    }
    a {
      display: inline-block;
      padding: 5px $spacing-unit / 3;
      color: $nav-link-color;
      line-height: 25px;
      text-decoration: none;
      background-color: transparent;
      transition: background-color 0.2s;
      &:hover {
        background-color: $nav-bg-highlight-color;
      }
    }
  }
}
#nav-list-main {
  margin: 0 auto;
  // max-width: $content_width;
}

/* Secondary navigation */
.pagination-controls {
  float: right;
}
.pagination-controls nav {
  display: inline;
}

/* Main content area */
.content {
  margin: 0 auto;
  padding: $spacing-unit;
  // width: $content_width;

  /* Drawing extra attention to various things */
  .notice {
    background-image: url("/assets/icons/attention.png");
    background-repeat: no-repeat;
    background-position: 5px;
    border: 1px dashed #ff9b05;
    margin: 0.5em 0em;
    min-height: 30px;
    padding-left: 52px;
    padding-right: 10px;
  }

  .notice-small {
    background-image: url("/assets/icons/warning.png");
    background-repeat: no-repeat;
    background-position: 0 8px;
    font-style: italic;
    padding-left: 24px;
  }

  .button-emphasis {
    color: white;
    background-color: $button-bg-emphasis;
    font-size: 20px;
  }
}

/* Basic styling for elements in the main content area.
Also applies to contents of dialogs. */
.content,
.dialog {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0.5em 0em;
  }
  dl,
  p {
    padding: 0.5em 0em;
  }
  ul {
    margin-left: 20px;
    padding: 0.5em 0em 0.5em 0em;
  }
  li {
    margin-left: 10px;
  }
  table.semantic li {
    margin-left: 25px;
  }
  &.past-years {
    color: white;
    background-color: $nav-bg-color;
    padding: 0 $spacing-unit;

    @include breakpoint(lt-md) {
      p {
        font-size: 14px;
      }
    }

    [name="year-navigation"] {
      display: none;
      font-size: 14px;
      margin: 0.5em;
      @include breakpoint(lt-md) {
        display: inline-block;
      }
    }

    .year-list {
      @include breakpoint(lt-md) {
        display: none;
      }
    }

    p {
      padding: 0 !important;
      margin: 0;
    }
    a {
      display: inline-block;
      background-color: transparent;
      color: white;
      // padding-right: 10px;
      padding: 10px;
      transition: background-color 0.2s;
      text-decoration: none;
      &:hover {
        background-color: $nav-bg-highlight-color;
      }
    }

    + #footer {
      border-top: 0;
    }
  }

  /* Nested lists look better without padding */
  ul li ul {
    padding: 0px;
  }
}

/* Horizontal row of buttons.  Pad the same as a paragraph,
except when following an h2, then pad half as much on top as
normal. -Jared 2012-06-10 */
.row-of-buttons {
  padding: 0.5em 0em;
  h2 + & {
    padding: 0.25em 0em 0.5em 0em;
  }
  form,
  div {
    display: inline;
  }
}

div.download-pdf {
  background-image: url("/assets/icons/pdf.gif");
  background-repeat: no-repeat;
  background-position: 5px;
  min-height: 40px;
  padding-left: 45px;
}
div.download-pdf a {
  line-height: 40px;
}

.noscript-warning {
  background-color: #c00;
  color: White;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* Rails flashes */
.flash {
  margin-bottom: $spacing-unit;
  padding: 5px 10px;
}
.flash-alert {
  background-color: Yellow;
}
.flash-notice {
  background-color: LightGreen;
}

/* Form validation errors */
#error_explanation h2 {
  font-size: 16px;
}
#error_explanation ul li {
  font-size: 16px;
}

/* Forms */
div.inputform {
  margin: 1em;
}
div.inputform table tbody td {
  padding-bottom: 0.25em;
}
div.inputform table tbody th {
  text-align: left;
  padding-right: 1em;
  vertical-align: top;
}

/* Blocks that float on the right */
.vertical-form-instructions {
  clear: right;
  float: right;
  margin-right: 20px;
  width: 375px;
}
.callout {
  border-left: 1px dotted gray;
  clear: right;
  float: right;
  padding: 0px 20px;
  text-align: justify;
  width: 250px;
}

/* Railsy forms -Jared 12/15/10 */
/* Note the fixed width labels */
div.field {
  display: block;
  padding: 5px 0px;
  margin: 0 0 1em;
}

.field.flex {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;

  &.field_with_errors {
    border: 2px dotted red;
    border-radius: 5px;
  }
}

.field-errors {
  color: red;
  margin-left: 160px;
  padding-bottom: 10px;
  width: 100%;
}

.field-key {
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  padding: {
    right: 10px;
  }
  width: 150px;
  flex-shrink: 0;

  .field_with_errors {
    color: red;
  }

  &.required label::after {
    // Non-breaking space + asterisk
    content: "\00a0*";
  }
}

.field-value {
  flex: 1 1 0%;

  label {
    align-items: center;
    display: inline-flex;
    padding: {
      right: 10px;
      bottom: 5px;
    }

    [type="radio"],
    [type="checkbox"] {
      margin-right: 5px;
    }
  }

  [type="text"],
  [type="password"] {
    min-width: 300px;
  }
}

.field.flex {
  .field-help-text {
    color: hsl(0, 0%, 50%);
    font: {
      size: 14px;
    }
    line-height: 2;
  }
}

/*
div.field:not(.flex) label:first-child,
div.field_with_errors label:first-child {
  color: hsl(0, 0%, 50%);
  display: inline-block;
  font-weight: bold;
  text-align: right;
  padding: 0 10px 10px 0;
  width: 150px;
  vertical-align: top;
  &.wide {
    width: auto;
  }
}
*/

div.field label:not(:first-child) {
  align-items: center;
  display: inline-flex;
  padding: {
    right: 10px;
  }

  [type="radio"],
  [type="checkbox"] {
    margin-right: 5px;
  }
}

div.field textarea {
  min-width: 400px;
}

div.field textarea.wide {
  width: 650px;
}
div.field label.inline-label {
  width: auto;
}

div.field {
  /* Checkbox Lists */
  .cbx-list {
    display: inline-block;
  }
  .cbx-list label {
    padding-left: 1em;
    width: auto;
    vertical-align: baseline;
  }

  /* Radio lists */
  .radio {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Date and time inputs */
  .datetime-fields {
    display: inline-block;
    .datetime-field {
      margin-bottom: 5px;
    }
    label {
      width: 60px;
    }
  }
}

/* Horizontally aligning stuff with inputs */
fieldset .aligned-with-input {
  margin-left: 155px;
}
.content ul.aligned-with-input {
  margin-left: 155px;
}

/* Some forms need wider labels -Jared 1/8/11 */
fieldset.wider-labels label {
  width: 200px;
}
fieldset.wider-labels .aligned-with-input {
  margin-left: 205px !important;
}
fieldset.wordy-questions label {
  width: 350px;
}
fieldset.wordy-questions .aligned-with-input {
  margin-left: 355px !important;
}

/* Specific stuff on the registration form */
#liability-release-instructions {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  vertical-align: middle;
  width: 350px;
}

.error {
  color: red;
}

.error-border {
  border: 1px solid #ff7c7c;
}

.hide {
  display: none !important;
}

.valid {
  color: rgb(72, 224, 0);
}

.valid,
.error {
  margin: 0 0 1em;
  transition: all 0.2s;
  max-height: 30px;
}

/* Transaction List */
.txn-button {
  float: right;
  padding-right: 0.5em;
}

/* Footer */
#footer {
  @include breakpoint(lt-sm) {
    div {
      font-size: 14px;
    }
  }

  border-top: 1em solid $nav-bg-color;
  margin: 0 auto;
  padding: ($spacing-unit / 2) $spacing-unit;
  display: flex;

  .copyright {
    align-self: center;
    flex: {
      grow: 1;
      shrink: 1;
      basis: auto;
    }
    padding-right: $spacing-unit;
  }

  .sponsors {
    flex: {
      grow: 0;
      shrink: 1;
      basis: auto;
    }
  }
}

input[type="submit"],
input[type="button"],
button,
.button {
  $color: #eee;
  background: $button-bg;
  border: 0;
  color: $color;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;

  &:visited {
    color: $color;
  }

  &:hover {
    background: $button-bg-highlight;
  }

  &[disabled] {
    background: hsl(0, 0, 50%);
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.button-large {
  font: {
    size: 36px;
  }
}

input,
textarea,
button,
select {
  font: {
    size: 18px;
  }
  padding: 5px;
}

.buffer-bottom {
  margin-bottom: $spacing-unit * 2 !important;
}

.updated {
  color: hsl(0, 0%, 70%);
}

.intl-tel-input {
  margin-right: 10px;
}

#aga_member_search {
  .search-input {
    border: 5px solid hsl(0, 00%, 50%);
    padding: 1em;
    font-size: 24px;

    label {
      font-weight: bold;
    }
    input {
      font-size: 24px;
    }
    margin: 1em 0;
  }
  .not-an-aga-member {
    i {
      color: hsl(0, 0%, 50%);
      margin-right: 0.25em;
    }
  }
}

#aga_member_search {
  .search-results {
    margin-bottom: 1em;

    table {
      border-collapse: collapse;
    }

    .search-result {
      background: #eee;
      &:hover {
        background: hsl(50, 100%, 80%);
      }

      cursor: pointer;

      td {
        padding: 0.5em;
      }

      .aga-id {
        opacity: 0.5;
        text-align: right;
      }

      .full-name {
        font-weight: bold;
      }
    }
  }
}

.tournament-registration {
  margin-bottom: $spacing-unit;

  .name {
    background-color: $box-bg-light;
    label {
      display: block;
      padding: $spacing-unit / 2;
    }

    [type="checkbox"] {
      margin-right: 0.5em;
    }

    h4 {
      padding: 0;
    }
  }

  .information {
    display: flex;
    padding: $spacing-unit / 2;

    @include breakpoint(lt-sm) {
      flex-direction: column;
    }

    .heading {
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    .heading + p {
      padding-top: 0;
    }

    > * {
      flex: 1 0 0;
      padding-right: $spacing-unit / 2;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .description {
    padding: $spacing-unit / 2;
    padding-top: 0;
  }
}

.administration {
  border: 5px solid $admin-nav-bg-color;
  padding: $spacing-unit / 2;
  margin: $spacing-unit 0;
}

[class^="registration_username"] {
  margin: 0 !important;

  &.valid {
    color: hsl(100, 50%, 50%);
    & + .validation-status {
      color: hsl(100, 50%, 50%);
    }
  }

  &.invalid {
    color: hsl(0, 50%, 50%);
    & + .validation-status {
      color: hsl(0, 50%, 50%);
    }
  }

  + .validation-status {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;

    b {
      $duration: 1.5s;
      animation: {
        name: dot-pulse;
        duration: $duration;
        iteration-count: infinite;
      }
      &:nth-of-type(2) {
        animation-delay: $duration/3;
      }
      &:nth-of-type(3) {
        animation-delay: $duration/3 * 2;
      }
    }
  }
}

@keyframes dot-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preview {
  position: relative;

  &:before {
    color: #999;
    content: "Preview";
    display: block;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
    text-transform: uppercase;
  }

  margin-left: 1rem;
}
