$orange-light: #ffe8bd;
$orange: #ffdaa3;
$orange-dark: #ffc369;
$zebra: darken($orange-light, 8%);

table {
  &.lightweight,
  &.semantic,
  &.mini-calendar {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0.5em 0em;
  }
  &.understated-head thead th {
    font-family: Times, serif;
    font-weight: normal;
  }
}

/* Lightweight table: Tighter, less colors, borders, etc. -Jared 1/2/11 */
table.lightweight {
  td,
  th {
    border: 0;
    padding: $spacing-unit;
  }
  td {
    padding: 0em 1em;
  }
  th {
    font-weight: bold;
    padding: 0em 1em 0em 0em;
  }
  &.top-headed th,
  td {
    padding: 0em 1em 0em 0em;
  }
  &.lightly-spaced-rows {
    td,
    th {
      padding-top: 0.1em;
      padding-bottom: 0.1em;
    }
  }
}
form table.lightweight tr td:first-child {
  padding-right: 0px;
  width: 150px;
}

/* Table options eg. zebra striping */
table.zebra tbody tr:nth-child(odd) {
  td,
  th {
    background-color: $box-bg-lighter;
  }
}
table.dont-wrap-th th {
  white-space: nowrap;
}
td.nowrap {
  white-space: nowrap;
}

/* Semantic table: The basic table meant for data, not for layout */
table.semantic {
  thead th {
    vertical-align: bottom;
  }
  td,
  th {
    border: 0;
    padding: $spacing-unit / 2;
  }
  td {
    background-color: $box-bg-light;
    p {
      padding-top: 0px;
    }
  }
  th {
    background-color: $box-bg-dark;
    color: darken($box-bg-dark, 20%);

    a {
      color: darken($box-bg-dark, 20%);
    }
  }
  tr.lesser-header th {
    background-color: $box-bg-dark;
    font-weight: normal;
  }
  tr.total th {
    background-color: $box-bg-light;
    text-align: right;
  }

  /* Semantic table: Row emphasis */
  /* Emphasis is more important than zebra striping, so we must
  define it after zebra -Jared 1/13/11 */
  tbody tr td {
    &.emphasis-strong {
      background-color: #ff0;
    }
    &.emphasis {
      background-color: #ff9;
    }
    &.emphasis-none {
      background-color: auto;
    }
  }

  tr.understated td {
    color: #666;
  }
  tr.disabled td {
    background-color: #ddd;
    color: #666;
  }
}

table.mini-calendar {
  margin: 0 auto;
  th,
  td {
    font-size: 14px;
    text-align: center;
    padding: 2px;
    &.align-right {
      text-align: right;
    }
  }
}

/* The following options are at the end of the stylesheet
in order to increase their precedence. */
table.borderless {
  td,
  th {
    border: none;
  }
}
table.bleached {
  th,
  td {
    background-color: white;
  }
}
