---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC68c4bca1ff6e21bbea7e22e61a6e5f36/Messages.json
    body:
      encoding: UTF-8
      string: Body=US+Open%2C+Round+1%3A+Jack+Smith+%28white%29+vs.+Amerigo+Vespucci+%28black%29+at+table+1+%28Building+6+Room+24%29.+Round+1+starts+at+12%3A30+pm.&From=12028834668&To=%2B16122035280
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM2OGM0YmNhMWZmNmUyMWJiZWE3ZTIyZTYxYTZlNWYzNjoyMWI3NWZhNGQ2YTI0MDFjMGYyNTExZGQ4NjQxZWVlMw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.180'
      Twilio-Request-Id:
      - RQ59da0b0f05464c0cbfaa5ade38738329
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM76bc58f7308840df986173f80f1a0eaa", "date_created": "Wed,
        18 Jul 2018 19:41:21 +0000", "date_updated": "Wed, 18 Jul 2018 19:41:21 +0000",
        "date_sent": null, "account_sid": "AC68c4bca1ff6e21bbea7e22e61a6e5f36", "to":
        "+16122035280", "from": "+12028834668", "messaging_service_sid": null, "body":
        "US Open, Round 1: Jack Smith (white) vs. Amerigo Vespucci (black) at table
        1 (Building 6 Room 24). Round 1 starts at 12:30 pm.", "status": "queued",
        "num_segments": "1", "num_media": "0", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/AC68c4bca1ff6e21bbea7e22e61a6e5f36/Messages/SM76bc58f7308840df986173f80f1a0eaa.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC68c4bca1ff6e21bbea7e22e61a6e5f36/Messages/SM76bc58f7308840df986173f80f1a0eaa/Media.json"}}'
  recorded_at: Wed, 18 Jul 2018 19:41:21 GMT
[...]
