-# Devise::Mailer#reset_password_instructions() gives us @resource,
-# which (in this app) is a loaded instance of User
- user = @resource

%p
  Hello #{user.email}!
%p
  Someone has requested a link to change your password, and you can do this
  through the link below.
%p
  - ep_url = edit_password_url user, :reset_password_token => @token, :year => user.year
  = link_to 'Change my password', ep_url
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
