%h2 What next?
%p
  You have
  = pluralize(@user.attendees.count, 'attendee')
  on your account.  When you're done adding attendees, make a
  payment. Registration is not complete until paid.

.floating-padded-line-item
  = button_to_get "Register Another Person", new_attendee_path(user_id: @user.id), 'add_attendee_btn', 'button-emphasis'
  %p{ style: "width: 250px;"}
    You may register as many people as you want on the same account.
    Bring the whole family!
.floating-padded-line-item
  = button_to "Make a Payment", pay_user_path(@user), :method => "get", :class => 'button-emphasis'
  %p{ style: "width: 175px;"}
    Review your account balance and make a payment.
