= @csv_header_line
- @attendees.each do |a|

  -# notice how we mark each line as html_safe to prevent 
  -# double escaping, or escaping of field-quotes
  = FasterCSV.generate_line( attendee_to_array(a), {:row_sep => ""} ).html_safe
