%h2 Admin Reports
%ul
  %li= link_to "Attendee Email Addresses", "reports/emails"
  %li= link_to "Overdue Initial Deposits", "reports/overdue_deposits"
  %li= link_to "Transactions", reports_transactions_path
