%h2 Admin Reports
%ul
  %li= link_to "Attendee Email Addresses", "reports/emails"

%h3 Coming Soon
%ul
  %li Treasurer Reports
  %li Overdue initial deposits Report
  %li Minors who have not submitted a release form Report
