%h2 Admin Reports
%ul
  %li= link_to "Attendee Email Addresses", "reports/emails"
  %li= link_to "Overdue Initial Deposits", "reports/overdue_deposits"

%h3 Coming Soon
%ul
  %li Treasurer Reports
  %li Minors who have not submitted a release form Report
