#footer
  #sponsors
    - @year.sponsors.each do |name,url|
      %a{:href => url}= image_tag "sponsors/#{name}.jpg"
  #site-credit
    All times are #{Time.zone}
    %br
    Content &copy; #{@year.year} U.S. Go Congress
