#footer
  #donate
    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:type => "hidden", :name => "cmd", :value => "_s-xclick"}
      %input{:type => "hidden", :name => "hosted_button_id", :value => "EMDGU3QUWMB66"}
      %input{:type => "image", :src => "https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif", :border => "0", :name => "submit", :alt => "PayPal - The safer, easier way to pay online!"}
      %img{:class => "graphic", :alt => "", :border => "0", :src => "https://www.paypal.com/en_US/i/scr/pixel.gif", :width => "1", :height => "1"}
  #sponsors
    - @year.sponsors.each do |name,url|
      %a{:href => url}= image_tag "sponsors/#{name}.jpg"
  #site-credit
    - if @year.year != 2020
      All times are #{Time.zone}
      %br
    Content &copy; #{@year.year} U.S. Go Congress
