!!!
%html
  %head
    %meta{:content => "text/html", "http-equiv" => "Content-Type"}/
    %title US Go Congress #{CONGRESS_YEAR}
    = stylesheet_link_tag :print, :media => "screen, print"
  %body
    .paper-size-is-letter
      = yield
